@import 
    "src/app/styles/settings/colors",
    "src/app/styles/tools";

/******** START : Formio wizard styles ********/
ul.horizontal-stepper-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .stepper-unit {
        flex: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .stepper-unit {
        &:before {
            content: "";
            position: relative;
            z-index: 1;
            display: block;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            margin: 1rem auto 0;
            background-color: $gray-400; 
        }   
        &.visited {
            &:before {
                background-color: $theme-blue-light;
            }
        }
        &.active {
            &:before {
                background-color: $btn-border-color;
                border: 0.5rem solid $theme-blue-light;
            }
            &.error {
                &:before {
                    content: "";
                    background-color: $theme-danger;
                }
            }
        }
        &.completed {
            &:before {
                content: "\f00c";
                font: normal normal normal 20px/1 FontAwesome;
                font-family: "Font Awesome 5 Free";
                background-color: $theme-blue-light;
                color: $white;
                display:flex;
                align-items: center;
                justify-content: center;
            }
            &:not(:last-child):after { 
                background-color: $theme-blue-light;
            }
        }
        &.error {
            &:before {
                content: "\f12a";
                font: normal normal normal 20px/1 FontAwesome;
                font-family: "Font Awesome 5 Free";
                display:flex;
                align-items: center;
                justify-content: center;
                background-color: $white;
                color: $theme-danger;
                border: 0.5rem solid $theme-danger-light;
            }
        }
        &:not(:last-child):after {
            content: "";
            position: relative;
            top: 2.5rem;
            left: 50%;
            height: 0.5rem;
            background-color: $gray-400;
            order: -1;
        }
    }
}

ul.vertical-stepper-group {
    .stepper-unit {
        position: relative;
        display: flex;
        gap: 1rem;
        padding-bottom: 2rem;
        
        &:last-child {
            padding-bottom: 0;
        }

        &:before {
            content: "";
            flex: 0 0 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: $gray-400;
        }

        &.visited {
            &:before {
                background-color: $theme-blue-light;
            }
        }
    
        &.active{
            &:before {
                background-color: $btn-border-color;
                border: 0.5rem solid $theme-blue-light;
            }
            &.error:before {
                content: "";
                background-color: $theme-danger;
            }
        }

        &.completed {
            &:before {
                content: "\f00c";
                font: normal normal normal 17px/1 FontAwesome;
                font-family: "Font Awesome 5 Free";
                background-color: $theme-blue-light;
                color: $white;
                display:flex;
                align-items: center;
                justify-content: center;
            }
        }

        &.error:before {
            content: "\f12a";
            font: normal normal normal 13px/1 FontAwesome;
            font-family: "Font Awesome 5 Free";
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $white;
            color: $theme-danger;
            border: 0.5rem solid $theme-danger-light;
        }

        &:not(:last-child) {
            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: calc(2rem);
                bottom: 0;
                transform: translateX(calc(1.5rem / 2));
                width: 0.5rem;
                background-color: $gray-400;
            }
        }

        &.completed:not(:last-child):after { 
            background-color: $theme-blue-light;
        }
    }
}
/******** END : Formio wizard styles ********/