<ul [class]="stepperType+'-stepper-group'">
    <li class="stepper-unit" 
        *ngFor="let component of components; let i=index;"
        [ngClass]="{'visited' : i !== currentPage && seenPages.includes(i), 'active': i === currentPage, 'completed' : i < currentPage && seenPages.includes(i), 'error' : formWizardPageErrors[i] && formWizardPageErrors[i].length > 0 }"
        >
        <button class="unstyled-btn">
            {{ component.title }}
            <i *ngIf="component.tooltip" [title]="component.tooltip" class="fas fa-question-circle text-muted"></i> 
        </button>
    </li>
</ul>