@import "src/app/styles/settings/colors";

.tags-form-group {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0;

    label {
        width: 20%;
        text-align: right;
    }

    textarea {
        width: 75%;
        padding: 10px;
    }

    input[type=date] {
        width: 30%;
    }

    .error-message {
        font-size: 14px;
    }

    .remove-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-left: 10px;
        opacity: 0.8;
        padding: 5px;

        fa-icon {
            font-size: 14px;
        }
    }
}