<app-modal #publishInterviewModal [showModalFooter]="true" [modalTitle]="GUIDED_INTERVIEW_PUBLISH_MODAL.TITLE"
    modalSize="lg" (modalClosed)="closeModal()" class="model-style">
    <div class="text-center my-3 font-weight-bold">
        {{GUIDED_INTERVIEW_PUBLISH_MODAL.FORM_TEXT}} {{formName}}
    </div>
    <form [formGroup]="publishInterviewForm">
        <ul class="tags-form-group d-flex flex-column" droppable>
            <li class="d-flex" formArrayName="contentFormsAndMappingType" droppable
                *ngFor="let formAndType of publishInterviewForm.get('contentFormsAndMappingType')['controls']; let i=index">
                <div draggable [formGroupName]="i" class="d-flex">
                    <label for="content-form-associaction" class="mb-0 w-25 mr-3">{{
                        GUIDED_INTERVIEW_PUBLISH_MODAL.CONTENT_FORM_ASSOCIATION }}</label>
                    <div class="w-75 d-flex align-items-center">
                        <select class="form-control" formControlName="contentFormNumber">
                            <option [ngValue]="null" selected>{{
                                GUIDED_INTERVIEW_PUBLISH_MODAL.CONTENT_FORM_PLACEHOLDER
                                }}
                            </option>
                            <option *ngFor="let contentForm of contentFormsList" [ngValue]="contentForm.formNumber">
                                {{contentForm.formTitle}}
                            </option>
                        </select>
                        <select class="form-control ml-3" formControlName="contentFormTypeId">
                            <option [ngValue]="null" selected>{{
                                GUIDED_INTERVIEW_PUBLISH_MODAL.CONTENT_FORM_TYPE_PLACEHOLDER }}
                            </option>
                            <option *ngFor="let cfMappingType of cfMappingTypes" [ngValue]="cfMappingType.typeId">
                                {{cfMappingType.typeName}}
                            </option>
                        </select>
                        <button class="btn btn-outline-danger remove-icon" aria-label="Clear File"
                            (click)="removeCFMappingDropdownContainer()">
                            <fa-icon [icon]="FONTAWESOME_ICONS.XMARK"></fa-icon>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
        <div class="text-right text-primary mr-5" (click)="addCFMappingDropdownContainer()">{{
            GUIDED_INTERVIEW_PUBLISH_MODAL.ADD_ANOTHER_CONTENT_FORM}}
        </div>

        <div class="tags-form-group">
            <label for="guided-form-checkbox" class="mb-0">{{ GUIDED_INTERVIEW_PUBLISH_MODAL.EFFECTIVE_DATE
                }}</label>
            <div class="w-75">
                <input class="btn btn-outline-primary" type="date" formControlName="date" [min]="presentDate">
                <div class="error-message text-danger mt-2"
                    *ngIf="publishInterviewForm.controls['date'].invalid && publishInterviewForm.controls['date'].errors.required">
                    {{ GUIDED_INTERVIEW_PUBLISH_MODAL.ERROR_MESSAGES.EFFECTIVE_DATE_REQUIRED }}
                </div>
            </div>
        </div>
        <div class="tags-form-group">
            <label for="comments-textarea" class="mb-0">{{ GUIDED_INTERVIEW_PUBLISH_MODAL.COMMENTS_LOG }}</label>
            <textarea id="comments-textarea" formControlName="comments"></textarea>
        </div>
    </form>

    <div footer class="d-flex justify-content-end">
        <button class="btn btn-outline-dark" (click)="closeModal()">{{ GUIDED_INTERVIEW_PUBLISH_MODAL.CANCEL_BTN
            }}</button>
        <button class="btn btn-primary ml-3" (click)="publishForm()" [disabled]="!publishInterviewForm.valid">{{
            GUIDED_INTERVIEW_PUBLISH_MODAL.PUBLISH_BTN }}</button>
    </div>
    <!-- END: Add New Case Type Modal -->
</app-modal>