<!-- START : ALERT MESSAGE -->
<aside class="pt-3 w-100" *ngIf="staticAlert || alertData">
    <ngb-alert *ngIf="!staticAlert && alertData" #ngbAlert [type]="alertData.type" [dismissible]="alertData.dismissable" 
        (closed)="onAlertDismissed()">{{ alertData.message }}</ngb-alert>

    <ngb-alert *ngIf="staticAlert" [type]="staticAlert.type" [dismissible]="false">{{ staticAlert.message }}</ngb-alert>
</aside>
<!-- END : ALERT MESSAGE -->
