@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';

$grid-breakpoints: (
    xs: 0,
    sm: 36em,
    md: 48em,
    lg: 62em,
    xl: 75em,
    xxl: 87.5em
);

$container-max-widths: (
  sm: 33.75em,
  md: 45em,
  lg: 60em,
  xl: 71.25em,
  xxl: 82.5em
);