@import "src/app/styles/variables";

$white:    #fff;
$off-white: #F5F8FA;
$gray-100: #e6eef2;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #A8B3BA;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #1C73A5;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;

$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
);

$primary:             $theme-blue;
$primary-contrast:    $theme-blue-contrast;
$secondary:           $gray-600;
$success:             $green;
$info:                $cyan;
$warning:             $yellow;
$danger:              $red;
$light:               $gray-100;
$dark:                $gray-900;

$theme-colors: (
  "primary":            $primary,
  "primary-contrast":   $primary-contrast,
  "secondary":          $secondary,
  "success":            $success,
  "info":               $info,
  "warning":            $warning,
  "danger":             $danger,
  "light":              $light,
  "dark":               $dark
);