@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$font-family-sans-serif:      "Roboto", Helvetica, Arial, Sans-serif;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif;

/*---- START : Root Font Size Config Variables ----*/
$baseline-font-size-sm:     0.938rem;
$baseline-font-size-md:     1rem;
$baseline-font-size-xl:     1.06rem;
$baseline-min-font-size:    14px;
$baseline-max-font-size:    7vw;
/*---- END : Root Font Size Config Variables ----*/

/*---- START : Global Font Size Variables ----*/
$font-size-3xs:     0.5rem;
$font-size-2xs:     0.625rem;
$font-size-xs:      0.75rem;
$font-size-sm:      0.875rem;
$font-size-base:    1rem;
$font-size-lg:      1.125rem;
$font-size-xl:      1.25rem;
$font-size-2xl:     1.5rem;
$font-size-3xl:     1.875rem;
$font-size-4xl:     2.25rem;
$font-size-5xl:     3rem;
$font-size-6xl:     4rem;
$font-size-7xl:     5rem;
/*---- END : Global Font Size Variables ----*/

$font-size-sm-multiple: 1.06;

/*---- START : Font Weight -----*/
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

$font-weight-base: $normal;