@import "src/app/styles/variables",
        "src/app/styles/settings/colors";

ol.form-engine-breadcrumb {
    list-style: none;
    margin: 0;
    padding: 0.5rem 5rem;
    margin-top: $header-height !important;
    background-color: $page-background-blue;
    color: $nav-dropdown-color;

    li {
      & {
        display: inline;
      }
  
      &:before {
        margin: 0 6px;
      }
  
      &:first-child:before {
        margin: 0;
      }

      a.disabled {
        pointer-events: none;
        cursor: default;
        color: $gray-700;
      }
    }
}