<ol class="form-engine-breadcrumb breadcrumb">
    <li *ngFor="let breadcrumb of breadcrumbs; let i = index">
      <a [class]="isLast(i) ? 'disabled' : ''" :aria-disabled="isLast(i)"
         [routerLink]="breadcrumb.url" routerLinkActive="router-link-active">
        <span class="mx-2" *ngIf="i > 0">/</span>{{ breadcrumb.label }}
      </a>
    </li>
</ol>
