@import 
    "src/app/styles/settings/colors";

.tags-form-group {
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    margin-top: 1rem;

    label {
        align-self: start;
        margin-right: 1rem;
        text-align: right;
    }

    input[type=checkbox] {
        width: 17px;
        height: 17px;
    }

    textarea {
        border: 1px solid #ced4da;
        padding: 0.5rem;
    }
}

table.url-table {
    border-spacing: 10px;
}
.url-list {
    display: flex;
    align-items: center;
    gap: 10px;
}
.remove-btn {
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 50%;
    opacity: 0.8;
    padding: 0;
    width: 25px;
    height: 25px;
    justify-content: center;
    &::before {
        content: "\f068";
        font: normal normal normal 16px/1 FontAwesome;
        font-family: "Font Awesome 5 Free";
    }
}

.error-message {
    font-size: 12px;
}

.error-input {
    border: 1px solid $danger;
}
