<form [formGroup]="aemForm">
    <div class="tags-form-group">
        <label class="mt-2">{{ ASSIGN_TAGS_MODAL.ASSOCIATED_URLS }}</label>
        <div class="url-table" formArrayName="associatedURLs">
            <div #urlRow class="url-list mt-2" *ngFor="let url of associatedURLs().controls; let i=index" [formGroupName]="i">
                <input [placeholder]="ASSIGN_TAGS_MODAL.TYPE_URL" type="text" formControlName="typeUrl" class="form-control">
                <input [placeholder]="ASSIGN_TAGS_MODAL.TYPE_LABEL" type="text" formControlName="typeLabel" class="form-control">
                <button type="button" (click)="removeAssociatedUrl(i)" class="remove-btn btn btn-outline-danger" [ngClass]="{'d-none': i === 0, 'd-block invisible': i === 0 && associatedURLs().length > 1 }" [attr.aria-label]="ASSIGN_TAGS_MODAL.REMOVE_BTN"></button>
            </div>
        </div>
    </div>
    <div class="d-flex mt-2">
        <button type="button" (click)="addAssociatedUrl()" class="btn btn-outline text-primary ml-auto pr-0">{{ ASSIGN_TAGS_MODAL.ADD_ANOTHER_URL }}</button>
    </div>
</form>