<a class="sr-only sr-only-focusable skipNav" href="javascript:void(0);" (click)='skipToMainContent()'>{{COMMON.SKIP_TO_MAIN}}</a>
<app-loader 
    [width]="5" 
    [height]="5"
    [loaderType]="LOADER.TYPE.BORDER" 
    [color]="LOADER.COLOR.PRIMARY"
    isFullPage="true"
    *ngIf="loading$ | async"
>
</app-loader>

<!-- START : Header -->
<app-header *ngIf="showHeader"></app-header>
<!-- END : Header -->

<!-- START : Skip To Main Content -->
<div #skipToMain tabindex="-1"></div>
<!-- END : Skip To Main Content -->
<router-outlet></router-outlet>