<div [ngClass]="{'full-page-loader' : isFullPage, 'position-relative': !isFullPage}">
    <div 
        role="status" 
        class="loader"
        [ngClass]="'text-'+color"
        [class.spinner-border]="loaderType === LOADER.TYPE.BORDER"
        [class.spinner-grow]="loaderType === LOADER.TYPE.GROW"
        [style.width.rem]="width"
        [style.height.rem]="height">
    </div>
</div>