.full-page-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10001;
    background: rgba(0, 0, 0, 0.5);
    .loader {
        position: absolute;
        top: calc(50% - 2.5rem);
        left: calc(50% - 2.5rem);
        z-index: 999999;
    }
}