@import "src/app/styles/variables",
        "src/app/styles/tools",
        "src/app/styles/settings/colors";

.forms-engine-dashboard-wrapper{
    background-color: $page-background-blue;
    .folders-container {
        min-height: 600px;
        height: 60vh;
        padding: 2rem 5rem;
        background-color: $page-background-grey;
        .cards-container{
            height: 70%;
        }
    }
    .folder-cards-container {
        display: grid;
        grid-gap: rem(20px);
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .folder-in-progress {
            position: relative;
            .inprogress-count-section {
                width: 0; 
                height: 0; 
                position: absolute;
                top: 5px;
                left: 5px;
                border-top: 3rem solid $theme-info;
                border-right: 3rem solid transparent;
            }
            .inprogress-count {
                position: absolute;
                top: 0.5rem;
                left: 0.75rem;
                color: $white;
            }
        }
        .folder-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2.5rem;
            background-color: $white;
            color: $theme-blue-contrast;
            transition-duration: 0.4s;
            border-radius: 0px 15px 0px 0px;
            border-bottom: 3px solid;
        }
        .folder-card:hover {
            background-color: $border-grey;
        }
        .file-icon {
            background-color: $theme-blue;
            i {
                font-size: rem(30px);
                color: $white;
            }
            &.in-progress {
                background-color: $theme-info;
            }
            &.all-published-forms {
                background-color: $green;
            }
        }
    }
    .forms-list {
        padding: 2rem 5rem;
        .sub-text {
            font-weight: 400;
            font-size: 14px;
        }
        .forms-inprogress-list, .forms-completed-list {
            .bg-red {
                background: $red-badge;
                color: $white;
                font-size: 14px;
            }

            .bg-blue {
                background-color: $blue-badge;
                color: $white;
                font-size: 14px;
            }
            a {
                color: $theme-blue-contrast;
            }
            ul {
                margin-bottom: 0;
                margin-left: 15px;
                li {
                    margin-bottom: 0.75rem;
                }
            }
            button {
                color: $secondary;
                text-decoration: underline;
                font-size: rem(15px);
                i {
                    text-decoration: underline;
                }
            }
            .form-status {
                background-color: $theme-info;
            }
            .case-types{
                font-size: rem(12px);
            }
        }
    }
}

::ng-deep app-floating-form-input .form-group{
    margin-bottom: 0;
}

.dropdown-toggle::after {
    display: inline-block;
}

.text-xs {
	font-size: 13px;
}

::ng-deep .pagination {
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 0;
}
.select-case-type{
    display:flex; 
    align-items: center;

    label{
        margin-right: 1rem;
    }
    ng-select{
        width: 75%;
    }
}
.check-is-popular{
    display:flex; 
    align-items: center;
    margin-top: 15px;
    label{
        margin: 0px 1rem;
    }
    input{
        width: 1rem;
        height: 1rem;
    }
}