<!-- START : Forms Dashboard -->
<app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
<div class="forms-engine-dashboard-wrapper" role="main">
    <div>
        <!-- START: Case type folder container -->
        <div *ngIf="caseTypeData" class="folders-container">
            <h2 class="text-center" aria-level="1">{{ FORM_ENGINE_CONSTANTS.HEADER }}</h2>
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary mr-2" (click)="openUploadFormModal()">+ {{ UPLOAD_NEW_FORM_MODAL.TITLE
                    }}</button>
                <!-- <button class="btn btn-primary" (click)="openAddNewCaseModal()">+ {{ ADD_CASE_TYPE_MODAL.TITLE }}</button> -->
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-primary" id="createDropdown" ngbDropdownToggle>
                        {{ PAGE_CONSTANTS.CREATE_BTN }}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="createDropdown">
                        <button ngbDropdownItem (click)="openTemplateModal()">{{ PAGE_CONSTANTS.TEMPLATE }}</button>
                        <button ngbDropdownItem (click)="createContentFormStart()">{{ PAGE_CONSTANTS.CONTENT_FORM
                            }}</button>
                        <button ngbDropdownItem (click)="openCreateGiFormModal()">{{ PAGE_CONSTANTS.GUIDED_INTERVIEW }}</button>
                    </div>
                </div>
            </div>
            <div class="cards-container">
                <div class="folder-cards-container mt-3" role="list">
                    <button (click)="redirectToFormsPageWithStatus(FORM_ENGINE_CONSTANTS.STATUS.IN_PROGRESS.code)"
                        *ngIf="inProgressCount" role="listitem" class="unstyled-btn folder-card folder-in-progress">
                        <div class="inprogress-count-section"></div>
                        <span class="inprogress-count">{{ inProgressCount }}</span>
                        <div class="file-icon in-progress p-1">
                            <i class="far fa-file-alt"></i>
                        </div>
                        <div class="mt-3">{{ FORM_ENGINE_CONSTANTS.FORMS_IN_PROGRESS }}</div>
                    </button>

                    <button (click)="redirectToCaseType(FORM_ENGINE_CONSTANTS.All_FORMS_ID)" role="listitem" class="unstyled-btn folder-card">
                        <div class="file-icon all-published-forms p-1">
                            <i class="far fa-file-alt"></i>
                        </div>
                        <div class="mt-3">{{ FORM_ENGINE_CONSTANTS.ALL_PUBLISHED_FORMS }}</div>
                    </button>

                    <button
                        *ngFor="let caseType of caseTypeData | slice: (caseTypeCurrentPage-1) * (caseTypesPageSize - (inProgressCount > 0) ) : (caseTypeCurrentPage) * (caseTypesPageSize - (inProgressCount > 0)); let i=index"
                        role="listitem" class="unstyled-btn folder-card"
                        (click)="redirectToCaseType(caseType.caseTypeId)">
                        <div class="file-icon p-1">
                            <i class="far fa-file-alt"></i>
                        </div>
                        <div class="mt-3">{{ caseType.description }}</div>
                    </button>
                </div>
            </div>
            <ngb-pagination *ngIf="caseTypeData.length > caseTypesPageSize" [(page)]="caseTypeCurrentPage"
                [pageSize]="caseTypesPageSize - (inProgressCount > 0)" [collectionSize]="caseTypeData.length">
            </ngb-pagination>
        </div>
        <!-- END: Case type folder container -->

        <!-- START: Forms list section -->
        <app-loader *ngIf="isLoading" class="d-flex justify-content-center p-5 m-5" [width]="5" [height]="5"
            [loaderType]="LOADER.TYPE.BORDER" [color]="LOADER.COLOR.PRIMARY">
        </app-loader>
        <div *ngIf="!isLoading" class="container d-flex justify-content-between forms-list">
            <div *ngIf="inProgressAndNewForms" class="forms-inprogress-list w-50">
                <h3 aria-level="1">{{ FORM_ENGINE_CONSTANTS.FORMS_IN_PROGRESS }}</h3>
                <div *ngIf="inProgressAndNewForms.length > 0">
                    <div class="sub-text">{{ FORM_ENGINE_CONSTANTS.FORMS_IN_PROGRESS_SUBTEXT }}</div>
                    <ul>
                        <li *ngFor="let form of inProgressAndNewForms" class="mt-2">
                            <a href="javascript:void(0);" class="link ml-2" (click)="redirectToNextStep(form)">
                                {{form.formName}}
                            </a>
                            <div *ngIf="form.status === FORM_STATUS.New"
                                class="form-status text-white px-2 ml-3 d-inline">{{
                                FORM_ENGINE_CONSTANTS.STATUS.NEW.text}}</div>
                        </li>
                    </ul>
                    <button *ngIf="inProgressAndNewForms.length > 5" class="btn btn-link px-0"
                        (click)="redirectToFormsPageWithStatus(FORM_ENGINE_CONSTANTS.STATUS.IN_PROGRESS.code)">
                        {{FORM_ENGINE_CONSTANTS.VIEW_MORE}}
                        <i class="far fa-angle-double-right"></i>
                    </button>
                </div>
                <div *ngIf="!inProgressAndNewForms.length">{{ FORM_ENGINE_CONSTANTS.NO_IN_PROGRESS_FORMS }}</div>
            </div>
            <div *ngIf="publishedForms" class="forms-completed-list w-50">
                <h3 aria-level="1">{{ FORM_ENGINE_CONSTANTS.COMPLETED_FORMS }}</h3>
                <div class="sub-text mb-3">{{ FORM_ENGINE_CONSTANTS.COMPLETED_FORMS_SUBTEXT }}</div>
                <ul>
                    <li *ngFor="let form of publishedForms">
                        <a href="javascript:void(0);" class="link ml-2" (click)="redirectToNextStep(form)">{{ form.formName }}</a>
                        <div class="d-inline-block ml-2 px-1" [ngClass]="form.type === FORM_TYPES.GuidedInterview ? 'bg-red' : 'bg-blue'">{{ PAGE_CONSTANTS[form.type] }}</div>
                    </li>
                </ul>
                <button *ngIf="publishedForms.length > 5" class="btn btn-link px-0"
                    (click)="redirectToFormsPageWithStatus(FORM_ENGINE_CONSTANTS.STATUS.PUBLISHED.code)">
                    {{FORM_ENGINE_CONSTANTS.VIEW_MORE}}
                    <i class="far fa-angle-double-right"></i>
                </button>
            </div>
        </div>
        <!-- END: Forms list section -->
    </div>
</div>
<!-- END : Forms Dashboard -->

<app-modal #modal [showModalFooter]="true" [modalTitle]="modalTitle" (modalClosed)="closeModal()" class="model-style">
    <!-- START: Add New Case Type Modal -->
    <!-- <div *ngIf="showAddNewCaseTypeModal" class="add-new-folder-modal-wrapper mx-4 my-2">
        <app-loader *ngIf="isMyCaseCaseTypeLoading" 
            class="d-flex justify-content-center" 
            [width]="4" 
            [height]="4"
            [loaderType]="LOADER.TYPE.BORDER" 
            [color]="LOADER.COLOR.PRIMARY">
        </app-loader>
        <div *ngIf="caseTypeDataMyCase && caseTypeDataMyCase.length > 0">
            <div class="row justify-content-center">
                <div class="col-sm-12 p-0">
                    <div class="select-case-type">
                        <label id="add-case-type-label">{{ ADD_CASE_TYPE_MODAL.LABEL }}</label>
                        <ng-select
                            [placeholder]="ADD_CASE_TYPE_MODAL.PLACE_HOLDER"
                            #caseTypeSelect
                            aria-labelledby="add-case-type-label"
                            [items]="caseTypeDataMyCase"
                            bindLabel="description"
                            [(ngModel)]="newCaseTypeName">
                        </ng-select>
                    </div>
                    <div class="check-is-popular">
                        <label for="add-case-type-popular" class="popular-type">{{ ADD_CASE_TYPE_MODAL.POPULAR }}</label>
                        <input id="add-case-type-popular" type="checkbox" [(ngModel)]="isPopular"/>
                    </div>
                    <div *ngIf="errorMessage" role="alert" class="text-danger mt-1 text-xs">{{ errorMessage }}</div>
                </div>
            </div>
        </div>
    </div>
    <div footer *ngIf="showAddNewCaseTypeModal" class="add-new-folder-modal-buttons-wrapper d-flex justify-content-end">    
        <button class="btn btn-outline-dark" (click)="closeModal()">{{ ADD_CASE_TYPE_MODAL.CANCEL_BTN }}</button>
        <button class="btn btn-primary ml-3" [disabled]="!newCaseTypeName" (click)="createNewCaseType()">{{ ADD_CASE_TYPE_MODAL.CREATE_BTN }}</button>
    </div> -->
    <!-- END: Add New Case Type Modal -->
</app-modal>

<div *ngIf="showAssignTagsModal">
    <app-assign-tags-modal [isTagsSaved]="isTagsSaved" [formDetails]="formDetails" [currentTab]="assignTabCurrentTab"
        (assignModalClosed)="onCloseAssignTagsModal($event)"
        (fetchFormDashboardDetails)="isFetchDashboardFormDetails = $event" [isFormUploadRequired]="isFormUploadRequired"
        [showPublishTab]="showPublishTab" [modalHeader]="assignTagsModalHeader" [assignTagsType]="assignTagsType">
    </app-assign-tags-modal>
</div>

<!-- START: Create Guided Interview  Modal -->
<div *ngIf="showCreateGiModal">
    <app-create-guided-interview-modal #createGuidedInterviewModalComponent (onCancel)="closeCreateGiModal()" (openCreateGuidedInterviewPage)="openCreateGuidedInterviewPage($event)" [showTitleError]="createGiFormErrors.showTitleError" >
    </app-create-guided-interview-modal>
</div>
<!-- END: Create Guided Interview Modal -->


<!-- START: Create Template Modal -->
<app-template-info-modal #createTemplateModal [showTitleError]="createTemplateErrors.showTitleError" (onCreateTemplate)="createTemplate($event)">
</app-template-info-modal>
<!-- END: Create Template Modal -->