@import "src/app/styles/settings/colors";
@import "src/app/styles/settings/fonts";

*{
  margin: 0;
  padding: 0;
}
html, body {
    height: 100%;
    background-color: var(--body-background-color, $white);
    background-image: var(--body-background-image);
    font-family: var(--font-family-base, $font-family-base);
    font-weight: var(--font-family-base, $font-weight-base);
}