@import "settings/breakpoints";
@import "settings/fonts";

/*---- START : Responsiveness Styles ----*/
html {
    @include media-breakpoint-down(sm) {
        font-size: clamp(#{$baseline-min-font-size}, #{$baseline-font-size-sm}, #{$baseline-max-font-size});
    }

    @include media-breakpoint-between(md, lg) {
        font-size: clamp(#{$baseline-min-font-size}, #{$baseline-font-size-md}, #{$baseline-max-font-size}); 
    }

    @include media-breakpoint-up(xl) {
        font-size: clamp(#{$baseline-min-font-size}, #{$baseline-font-size-xl}, #{$baseline-max-font-size}); 
    }
}
/*---- END : Responsiveness Styles ----*/