@import "src/app/styles/tools";

/** ----- START : Common ----- **/

    /** ----- START : Colors ----- **/
    $theme-blue: #11659c;
    $theme-blue-secondary: #146090;
    $light-primary: #e8eff4;
    //$theme-blue: #3097D1;
    $theme-blue-contrast: #3770A2;
    $theme-blue-light: #97cdf3;
    $theme-danger: #721c24;
    $theme-danger-light: #f5c6cb;
    $theme-info: #f3a53e;
    $error-message: #E64759;
    $hover-button-blue: #2579A9;
    $hover-button-border: #1F648B;
    $border-grey: #f3f6f8;
    $btn-border-color: #2a88bd;
    $page-title-color: #283846;
    $page-background-grey: #dee2e6;
    $page-background-blue: #f5f8fb;
    $red-badge: #a72d17;
    $blue-badge: #1c4d63;
    $dark-blue: #1e3050;
    /** ----- END : Colors ----- **/

    /** ----- START : Sizes & Dimensions ----- **/
    $header-height: rem(58.78px);
    /** ----- END : Sizes & Dimensions ----- **/

/** ----- END : Common ----- **/

/** ----- START : Header Component ----- **/

    /** ----- START : Colors ----- **/
    $nav-active-item-color: #EDF3F8;
    $nav-active-item-bg: #225886;
    $nav-dropdown-color: #777;
    $nav-dropdown-hover-color: #172b36;
    $nav-dropdown-hover-bg: #f5f8fa;
    $nav-dropdown-border: rgba(0,0,0,.05);
    $nav-dropdown-box-shadow: rgb(0 0 0 / 18%);
    $greet-text-color: #31708f;
    $greet-bg: #d9edf7;
    $label-color: #536570;
    /** ----- END : Colors ----- **/

    /** ----- START : Sizes & Dimensions ----- **/
    $nav-font-size: rem(14px);
    $nav-item-padding: 0.4rem;
    $nav-item-line-height: rem(30px);
    $logo-dimension: rem(40px);
    /** ----- END : Sizes & Dimensions ----- **/

    /** ----- START : Table colors ----- **/
    $redHeader: #E41D2E;
    $greenHeader: #297a2e;
    /** ----- END : Table colors ----- **/

/** ----- END : Header Component ----- **/