@import "src/app/styles/variables",
        "src/app/styles/tools",
        "src/app/styles/settings/colors";


.form-group{
    position: relative;
    .form-control{
        height: rem(40px);
        background-color: transparent;
        color: $black;
        box-shadow: inset 0 rem(1px) rem(1px) rgba(0,0,0,.075);
        :focus{
            box-shadow: none;
        }
    }
    label{
        position: absolute;
        top: rem(8px);
        left: rem(6px);
        padding: 0 rem(5px) 0 rem(5px);
        background-color: $white;
        transition: 0.2s;
        font-weight: normal;
        pointer-events: none;
        z-index: 1;
    }
    .label-animate{
        top: rem(-12px) !important;
        left: rem(5px) !important;
        font-size: 0.75rem;
    }
    input:-webkit-autofill { 
        background-clip: text;
        -webkit-background-clip: text;
    }
}
.d-inline{
    display: inline;
}
.d-none{
    display: none;
}