<div class="form-group">
    <label [for]="id" [ngClass]="{'label-animate': value || isInputInFocus }" #labelElement>{{ label }}
    </label>
    <input [type]="type" [placeholder]="placeholder" [id]="id" [value]="value" [disabled]="disabled" class="form-control"
        [autocomplete]="autocomplete" (focus)="onFocus(labelElement)" (blur)="onBlur(labelElement)"
        (input)="setValue($event.target.value)" [required]="required" />
</div>