/*---- START : FORM ELEMENT FONT SIZE
       To Fix base font size of input elements to 16px to avoid auto zoom 
----*/
.form-control {
  font-size: clamp(16px, #{$font-size-base}, #{$baseline-max-font-size});
} 
.form-control-lg {
  font-size: clamp(16px, #{$font-size-lg}, #{$baseline-max-font-size});
}
.form-control-sm {
  font-size: clamp(16px, #{$font-size-sm}, #{$baseline-max-font-size});
}

/*---- END : FORM ELEMENT FONT SIZE ----*/

.font-size-3xs {
  font-size: $font-size-3xs !important;
}

.font-size-2xs {
  font-size: $font-size-2xs !important;
}

.font-size-xs {
  font-size: $font-size-xs !important;
}

.font-size-sm {
  font-size: $font-size-sm !important;
}

.font-size-base {
  font-size: $font-size-base !important;
}

.font-size-lg {
  font-size: $font-size-lg !important;
}

.font-size-xl {
  font-size: $font-size-xl !important;
}

.font-size-2xl {
  font-size: $font-size-2xl !important;
}

.font-size-3xl {
  font-size: $font-size-3xl !important;
}

.font-size-4xl {
  font-size: $font-size-4xl !important;
}

.font-size-5xl {
  font-size: $font-size-5xl !important;
}

.font-size-6xl {
  font-size: $font-size-6xl !important;
}

.font-size-7xl {
  font-size: $font-size-7xl !important;
}

@include media-breakpoint-down(sm) {
  .font-size-3xs {
    font-size: $font-size-3xs * $font-size-sm-multiple !important;
  }

  .font-size-2xs {
    font-size: $font-size-2xs * $font-size-sm-multiple !important;
  }

  .font-size-xs {
    font-size: $font-size-xs * $font-size-sm-multiple !important;
  }

  .font-size-sm {
    font-size: $font-size-sm * $font-size-sm-multiple !important;
  }
}