/*----------- START : Data table styles -------------*/
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import 
    "src/app/styles/variables", 
    "src/app/styles/tools",
    "src/app/styles/settings/colors";

    ngx-datatable.ngx-datatable .datatable-header{
        width : 100% !important;
        border-bottom: rem(2px) solid $border-grey;
        display: flex;
        align-items: center;
    }
    ngx-datatable.ngx-datatable .datatable-body{
        width : 100% !important;
    }
    .ngx-datatable .datatable-body .datatable-scroll{
        width: 100% !important;
    }
    .ngx-datatable .datatable-row-wrapper .datatable-body-row {
        overflow: hidden;
        .datatable-body-cell{
            height : 5.5rem !important;
            border-bottom: rem(2px) solid $border-grey;
        }
    }
    ngx-datatable.ngx-datatable .datatable-body .datatable-body-cell-label {
        overflow: hidden;
        white-space: break-spaces;
        text-overflow: ellipsis;
        width: 100%;
    }
    .ngx-datatable .datatable-checkbox{
        margin: 0px;
        input{
            width : rem(20px);
            height: rem(20px);
        }
    }
    
    .ngx-datatable{
        background-color: $off-white;
        .active {
            background-color: $page-background-grey;
            color: $black;
    
            .datatable-body-cell, a {
                color: $white;
            }
        }
        .datatable-checkbox  input[type="checkbox" i]{
            border: none;
        }
        .datatable-checkbox  input[type="checkbox" i]:focus{
            outline: 1px auto -webkit-focus-ring-color;
        }
        .datatable-checkbox input[type=checkbox]::before {
            content: none;
        }
        .datatable-checkbox input[type=checkbox]::after {
            content: none;
        }
    
    }
    .datatable-row-center {
        border-bottom: 1px solid $gray-100;
    }
    
    .datatable-header {
        height: 100% !important;
    }
    .datatable-row-even {
        background-color: $white;
    }
    .datatable-header-cell-wrapper {
        display: block;
    }
    .ngx-datatable .datatable-header datatable-header-cell.datatable-header-cell {
        padding: 8px;
        position: relative;
        .datatable-header-cell-template-wrap {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        .datatable-header-cell-template-wrap span{
            overflow: hidden;
            white-space: break-spaces;
            text-overflow: ellipsis;
        }
        .datatable-header-cell-template-wrap .sort-btn {
            position: absolute;
            top: 0;
            right: 0.5rem;
            &::before{
                opacity: 1;
            }
        }
        .managetextfilter{
            width: 100%;
            appearance: unset;
            margin-top: 0.625rem;
        }
        .datefilter{
            width: 100%;
            padding-right: rem(4px);
            margin-top: 0.625rem;
        }
        .select-wrapper{
            position: relative;
            display: flex;
            align-items: center;
            margin-top: 0.625rem;
            i{
                position: absolute;
                right: 10px;
                color: $gray-500;
            }
            .managetextfilter{
                margin-top: 0;
                padding-right: 1.5rem;
            }
        }
        input, select { display: block; border: 1px solid $gray-100; padding: .5rem; background: $white; color: $gray-500; }
    }
    .datatable-header-cell, .datatable-body-cell {
        text-align: left;
        padding: .9rem .9rem;
        vertical-align: top;
        border-top: 0;
        color: rgba(0,0,0,.87);
        transition: width .3s ease;
        font-size: 14px;
        font-weight: 400;
    }
    .ngx-datatable .datatable-footer{
        background: $off-white;
        .datatable-pager {
            .pager{
                display: flex !important;
                align-items: center;
                justify-content: flex-end;
                li a, li a i{
                    display: flex !important;
                }
            }
        }
    }
    .ngx-datatable .datatable-footer .pager li:focus, li a:focus{
        outline: 1px auto -webkit-focus-ring-color !important;
    }
    .ngx-datatable .datatable-footer .selected-count .page-count{
        text-align: center;
        flex: 1 1 30%;
    }
    .ngx-datatable .datatable-footer .datatable-footer-inner{
        justify-content: space-between;
    }
    ngx-datatable.ngx-datatable .datatable-footer .selected-count .page-count{
        flex:none;
    }
    .ngx-datatable .datatable-footer .selected-count .page-limit-container{
        flex: none;
        div{
            padding-right: 5px;
            border:1px solid $blue;
            display:inline-block;
        }
        select.page-limit{
            border: none;
            padding: 5px;
            background: transparent;
            color: $blue;
            font-size: 14px;
        }
    }
    .ngx-datatable .datatable-footer .selected-count datatable-pager.datatable-pager{
        flex:none;
        min-width: 200px;
        li[role=button]{
            padding: 0px 10px;
        }
    }
    
    .ngx-datatable.bootstrap:not(.cell-selection) .datatable-body-row:hover,
    .ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group
    { 
       background: $gray-200;
    }
    
    @media (max-width: 800px) {
        .ngx-datatable .datatable-footer .datatable-footer-inner{
            flex-wrap: wrap;
            height: 100px !important;
            .page-count{
                display: inline-flex;
            }
        }
    }
    
    /*----------- END : Data table styles -------------*/