<div [formGroup]="uploadFormTab">
    <div class="tags-form-group">
        <label for="uploadFormNameId" class="mb-0">
            {{ UPLOAD_NEW_FORM_MODAL.FORM_TITLE_LABEL }}
            <span class="required">*</span>
        </label>
        <div>
            <input type="text" id="uploadFormNameId" maxlength="80" formControlName="uploadFormName"
                class="upload-form-name form-control" [ngClass]="{'error-input': uploadFileValidation.formNameError}"
                required="true" [placeholder]="UPLOAD_NEW_FORM_MODAL.PLACEHODLER"
                (input)="uploadFormErrors.formName = ''" />
            <div class="error-message text-danger mt-1" *ngIf="uploadFormTab.controls['uploadFormName'].invalid && (uploadFormTab.controls['uploadFormName'].errors.required 
                        || uploadFormTab.controls['uploadFormName'].errors.pattern)
                       && (uploadFormTab.controls['uploadFormName'].touched || isSubmitted)">
                {{ UPLOAD_NEW_FORM_MODAL.ERROR_MESSAGES.FORM_TITLE_REQUIRED }}
            </div>
            <div class="error-message text-danger mt-1" *ngIf="uploadFormErrors.formName">
                {{ UPLOAD_NEW_FORM_MODAL.ERROR_MESSAGES.FORM_TITLE_EXISTS }}
            </div>
        </div>
    </div>
    <div class="tags-form-group">
        <label for="uploadFormNumberId" class="mb-0">
            {{ UPLOAD_NEW_FORM_MODAL.FORM_NUMBER_LABEL }}
            <span class="required">*</span>
        </label>
        <div>
            <input type="text" class="upload-form-number form-control"
                [ngClass]="{'error-input': uploadFileValidation.formNumberError}" type="text" id="uploadFormNumberId"
                formControlName="uploadFormNumber" required="true" [placeholder]="UPLOAD_NEW_FORM_MODAL.PLACEHODLER"
                (input)="uploadFormErrors.formNumber = ''" />
            <div class="error-message text-danger mt-1" *ngIf="uploadFormTab.controls['uploadFormNumber'].invalid && uploadFormTab.controls['uploadFormNumber'].errors.required
            && (uploadFormTab.controls['uploadFormNumber'].touched || isSubmitted)">
                {{ UPLOAD_NEW_FORM_MODAL.ERROR_MESSAGES.FORM_NUMBER_REQUIRED }}
            </div>
            <div class="error-message text-danger mt-1"
                *ngIf="uploadFormTab.controls['uploadFormNumber'].errors?.maxlength">
                {{ UPLOAD_NEW_FORM_MODAL.ERROR_MESSAGES.FORM_NUMBER_MAXLENGTH_VALIDATION }}
            </div>
            <div class="error-message text-danger mt-1" *ngIf="uploadFormErrors.formNumber">
                {{ UPLOAD_NEW_FORM_MODAL.ERROR_MESSAGES.FORM_NUMBER_EXISTS }}
            </div>
            <div class="error-message text-danger mt-1" *ngIf="uploadFormTab.controls['uploadFormNumber']?.errors?.pattern">
                {{ UPLOAD_NEW_FORM_MODAL.ERROR_MESSAGES.FORM_NUMBER_PATTERN_VALIDATION }}
            </div>
        </div>
    </div>
    <div class="tags-form-group" *ngIf="hasFormUpload">
        <label for="uploadFileId">
            {{ UPLOAD_NEW_FORM_MODAL.UPLOAD_FILE }}
            <span *ngIf="isFormUploadRequired" class="required">*</span>
        </label>
        <div class="d-flex flex-column">
            <div class="upload-file-group">
                <button class="btn btn-primary" aria-label="Choose file" (click)="openFileBrowserForUpload()">
                    &hellip;
                    <input type="file" style="display: none;" name="uploadForm" accept=".pdf" id="uploadFormId"
                        tabindex="0" (change)="updateUploadFileField($event)" #uploadNewFormRef />
                </button>
                <input type="text" class="form-control input-sm"
                    [ngClass]="{'error-input': uploadFileValidation.fileError}" aria-describedby="eDocSelectDisplayDesc"
                    id="uploadFileId" (click)="openFileBrowserForUpload()" (keyup.space)="openFileBrowserForUpload()"
                    (keyup.enter)="openFileBrowserForUpload()"
                    [placeholder]="UPLOAD_NEW_FORM_MODAL.UPLOAD_FILE_PLACEHOLDER" aria-readonly="true" readonly
                    #uploadFieldRef (blur)="uploadFormTab.controls['uploadedFile'].markAsTouched()" />
                <button class="btn btn-outline-danger upload-file-clear-btn" aria-label="Clear File" (click)="clearFileUpload()">
                    <fa-icon [icon]="FONTAWESOME_ICONS.XMARK"></fa-icon>
                </button>
            </div>
            <div id="eDocSelectDisplayDesc" class="text-xs mt-1">
                Allowed file types: <span class="font-weight-bold">pdf</span>
            </div>
            <div class="error-message text-danger mt-1" *ngIf="uploadFormTab.controls['uploadedFile'].invalid && uploadFormTab.controls['uploadedFile'].errors.required
                   && (uploadFormTab.controls['uploadedFile'].touched || isSubmitted)">
                {{ UPLOAD_NEW_FORM_MODAL.ERROR_MESSAGES.UPLOAD_FILE_REQUIRED }}
            </div>
            <div class="error-message text-danger mt-1"
                *ngIf="uploadFormTab.controls['uploadedFile'].invalid && uploadFormTab.controls['uploadedFile'].errors.requiredFileType">
                {{ UPLOAD_NEW_FORM_MODAL.ERROR_MESSAGES.FILE_FORMAT_UNSUPPORTED }}
            </div>
            <div class="error-message text-danger mt-1" *ngIf="uploadFormErrors.pdfFile">
                {{ UPLOAD_NEW_FORM_MODAL.ERROR_MESSAGES.INVALID_FORM_TEMPLATE }}
            </div>
        </div>
    </div>
    <div class="tags-form-group">
        <label for="comments-textarea" class="mb-0">{{ UPLOAD_NEW_FORM_MODAL.DESCRIPTION }}</label>
        <div>
            <textarea id="comments-textarea" [placeholder]="UPLOAD_NEW_FORM_MODAL.PLACEHODLER"
                formControlName="description"></textarea>
            <div class="error-message text-danger mt-1" *ngIf="uploadFormTab.controls['description'].errors?.maxlength">
                {{ UPLOAD_NEW_FORM_MODAL.ERROR_MESSAGES.DESCRIPTION_MAXLENGTH_VALIDATION }}
            </div>
        </div>
    </div>
</div>