@import 
    "src/app/styles/settings/colors";
.tags-form-group {
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    margin-top: 1rem;

    label {
        align-self: start;
        margin-right: 1rem;
        text-align: right;
    }

    input[type=checkbox] {
        width: 17px;
        height: 17px;
    }

    textarea {
        width: 100%;
        border: 1px solid #ced4da;
        padding: 0.5rem;
    }
}

.upload-file-group {
    display: flex;
    align-items: center;
    div {
        flex: 1;
    }
    .upload-file-clear-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-left: 10px;
        opacity: 0.8;
        padding: 5px;
        fa-icon {
            font-size: 14px;
        }
    }
}


.error-message {
    font-size: 14px;
}

.error-input {
    border: 1px solid $danger;
}

.required {
    color: $danger;
}