/*----- START : LOGIN PAGE ----*/
@import 
    "src/app/styles/variables", 
    "src/app/styles/tools",
    "src/app/styles/settings/colors",
    "src/app/styles/settings/breakpoints";

.login-page-wrapper{
    .alert-wrapper{
        width: 27.5rem;
    }
    .card {
        width: rem(440px);
        border: rem(1px) solid $primary;
        .panel-heading{
            padding: rem(5px);
            background-color: $primary;
            .logo{
                width: rem(80px);
                height: rem(80px);
                img{
                    width: rem(80px);
                    height: rem(80px);
                }
            }
            .header{
                width: 75%;
                color: $white;
                h2{
                    font-size: rem(14px);
                }
                h1{
                    font-size: rem(24px); 
                }
            }
        }
        .greet{
            background-color: $greet-bg;
            color: $greet-text-color; 
            padding: rem(10px) 0px;
            font-size: rem(14px);
        }
    }
}

// ******** Start : Media Queries ******** 
@include media-breakpoint-down(sm) {
    .login-page-wrapper{
        .card, .alert-wrapper {
            width: 100%;
            overflow: auto;
        }
        .card .panel-heading{
            display: flex;
            flex-direction: column;
            align-items: center;
            .header{
                width: 100%;
                text-align: center;
            }
        }  
    }
}
// ******** End : Media Queries ******** 
/*------ END : LOGIN PAGE ------*/