<!--- START : FORMS ENGINE LOGIN PAGE  -->

<div class="login-page-wrapper vh-100">
    <main class="d-flex flex-column justify-content-center align-items-center h-100 pl-2 pr-2" role="main" id="mainContainer">
        <div class="alert-wrapper">
            <app-alert-message></app-alert-message>
        </div>
        <!-- END : ERROR ALERT -->
        <div class="card">
            <div class="panel-heading d-flex">
                <div class="logo w-24 mr-2">
                    <img [src]="ASSETS.UTAH_COURTS_LOGO" alt="State of Utah Judiciary Logo" />
                </div>
                <div class="header d-flex flex-column justify-content-center">
                    <h1 class="heading font-weight-bold">{{LOGIN.HEADING}}</h1>
                    <h2 class="sub-heading font-weight-bold">{{LOGIN.SUB_HEADING}}</h2>
                </div>
            </div>
            <div class="panel-body text-center pb-3">
                <div class="greet text-center">{{ LOGIN.GREET }}</div>
                <app-login-form (showErrorAlert)="showErrorAlert($event)"></app-login-form>            
            </div>
        </div>
    </main>
</div>

<!--  END : FORMS ENGINE LOGIN PAGE  -->