<div class="container pt-2">

    <!-- START : ERROR ALERT -->
    <app-alert-message [staticAlert]="errorAlertData"></app-alert-message>
    <!-- END : ERROR ALERT -->

    <div class="d-flex justify-content-center" *ngIf="!redirectionLoader">
        <button class="btn btn-primary mr-3" 
            [routerLink]=[FRONT_END_ROUTES.LOGIN]>{{BUTTONS.GO_TO_LOGIN}}</button>
    </div>

    <!-- START : LOADER -->
    <app-loader class="d-flex justify-content-center w-100" 
        *ngIf="redirectionLoader" [loaderType]="LOADER.TYPE.BORDER" [color]="LOADER.COLOR.PRIMARY"></app-loader>
    <!-- END : LOADER -->
</div>