<!-- START : Forms Page -->
<!-- START : Form Creater loader -->
<div *ngIf="createFormLoader">
   <app-loader
      [width]="5" 
      [height]="5"
      [loaderType]="LOADER.TYPE.BORDER" 
      [color]="LOADER.COLOR.WHITE"
      [isFullPage]="true"
      ></app-loader>
</div>
<!-- END : Form Creater loader -->

<!-- START : Loader -->
<div class="d-flex justify-content-center align-items-center vh-100"
   *ngIf="!(builderForm) && !errorMessage">
      <app-loader 
         [width]="5" 
         [height]="5"
         [loaderType]="LOADER.TYPE.BORDER" 
         [color]="LOADER.COLOR.PRIMARY"></app-loader>
</div>
<!-- END : Loader -->

<div class="forms-container container py-5" #formsContainer>

   <!-- START : Error Alert -->
   <div class="my-4" *ngIf="errorMessage">
      <ngb-alert
         [type]="ALERT_TYPES.DANGER" 
         [dismissible]="false">{{ errorMessage }}</ngb-alert>
      <div class="text-center">
         <button class="btn btn-primary" [routerLink]="[ROUTES.FORMS_DASHBOARD]">Go to Dashboard</button>
      </div>
   </div>
   
   <!-- END : Error Alert -->

   <!-- START: Formio actions, builder and renderer -->
   <ng-template #builderActionsTemplate>
      <div class="formio-button-group">
         <button class="btn btn-secondary" (click)="openConfirmationModal()">{{ BUTTONS.CANCEL }}</button>
         <button class="btn btn-primary" 
            *ngIf="(formType !== this.FORMIO_ROUTE_FORM_TYPES.GUIDED_INTERVIEW) && 
                  (formType === this.FORMIO_ROUTE_FORM_TYPES.CONTENT_FORM && !contentFormProperties.contentFormAlreadyCreated)" 
            [disabled]="!formSrc || formSrc?.components?.length === 0" (click)="saveAsDraft()">
            {{ FORMS_BUTTON.SAVE_DRAFT}} 
         </button>
         <button *ngIf="formType !== FORMIO_ROUTE_FORM_TYPES.TEMPLATE" class="btn btn-primary" [disabled]="!formSrc || formSrc?.components?.length === 0" (click)="openPublishInterviewModal()">
            {{ formType === FORMIO_ROUTE_FORM_TYPES.CONTENT_FORM ? FORMS_BUTTON.SUBMIT_BTN : FORMS_BUTTON.PUBLISH_INTERVIEW }}</button>  

         <button *ngIf="formType === FORMIO_ROUTE_FORM_TYPES.TEMPLATE" class="btn btn-primary" [disabled]="!formSrc || formSrc?.components?.length === 0" (click)="updateTemplate()">
           {{ FORMS_BUTTON.CREATE_TEMPLATE }} </button>         
      </div>
   </ng-template>

   <ng-container *ngIf="!errorMessage && builderForm && formSrc">
      <div id="formio-html">
         <app-formio-builder-renderer 
            [transformedBuilderOptions]="transformedBuilderOptions" 
            [builderForm]="builderForm" 
            [formSrc]="formSrc"
            [wizardBtnGroup]="wizardBtnGroup"
            (onCancel)="openConfirmationModal()" 
            (onSaveDraft)="saveAsDraft()" 
            (onPublish)="openPublishInterviewModal()"
            [builderActionsTemplate]="builderActionsTemplate"
            ></app-formio-builder-renderer>
      </div>
   </ng-container>

   <!-- END: Formio actions, builder and renderer -->

</div>
<!-- END : Forms Page -->

<!-- START : CONFIRMATION MODAL -->
<app-confirmation-modal 
   *ngIf="showConfirmationModal"
   [title]="CANCEL_CONFIRMATION_MODAL.HEADER" 
   [message]="CANCEL_CONFIRMATION_MODAL.MESSAGE" 
   [cancel]="CANCEL_CONFIRMATION_MODAL.RETURN_TO_FORM"
   [continue]="CANCEL_CONFIRMATION_MODAL.CONTINUE"
   (onCancel)="closeConfirmationModal()" 
   (onContinue)="onCancelModal()">
</app-confirmation-modal>
<!-- END : CONFIRMATION MODAL -->
<div *ngIf="builderForm">
   <app-publish-interview-modal #publishInterviewModal 
      (onPublishInterviewFormChange)="publishInterviewDateForm($event)" 
      [formName]="builderForm.title"
      [contentFormsList]="contentFormsList"
      [cfMappingTypes]="cfMappingTypes"
      [contentFormsCount]="contentFormsCount">
   </app-publish-interview-modal>
</div>

 <!-- START: Content Generation Modal -->
 <app-modal [showModalFooter]="true" #contentGenerationModal [modalTitle]="CONTENT_GENERATION_MODAL.TITLE " class="model-style" [modalOptions]="contentGenModalNgbOptions" [showCloseButton]="false" [headerStyle]="'text-center'"> 
   <div class="form-name">
      <span>{{CONTENT_GENERATION_MODAL.FORM_HEADER}} : </span>
      <span *ngIf="formProperties">{{ formProperties?.formName }} </span>
   </div>
   <div footer class="add-new-folder-modal-buttons-wrapper d-flex justify-content-end">    
       <button class="btn btn-primary" (click)="contentGenerationModalAction(CONTENT_GENERATION_MODAL.TYPE.SCRATCH)"> {{ CONTENT_GENERATION_MODAL.FROM_SCRATCH_BTN }} </button>
       <button class="btn btn-primary ml-3" (click)="contentGenerationModalAction(CONTENT_GENERATION_MODAL.TYPE.DRAFT)"> {{ CONTENT_GENERATION_MODAL.GENERATE_DRAFT}} </button>
   </div>
 </app-modal>
 <!-- END: Content Generation Modal -->

 <app-modal [showModalFooter]="true" [modalSize]="MODAL_SIZE.LG" #contentFormPublishModal [modalTitle]="FORMS_PAGE_CONSTANTS.CONTENT_FORM.PUBLISH_TITLE " class="model-style" [headerStyle]="'text-center'">
   <app-publish-form
      (onPublishFormGroupChange)="onContentFormPublishFormChanges($event)"
      [basicPDFDisabled]="true"
      [fillOutDisabled]="true"
      [showEffectiveDate]="false"
      ></app-publish-form>
   <div footer class="add-new-folder-modal-buttons-wrapper d-flex justify-content-end">    
      <button class="btn btn-primary" (click)="closeContentFormPublishModal()"> {{ FORMS_PAGE_CONSTANTS.CONTENT_FORM.CANCEL }} </button>
      <button class="btn btn-primary ml-3" [disabled]="!contentFormPublishFormData?.controls?.effectiveDate?.valid" (click)="onClickPublishContentForm()"> {{ FORMS_PAGE_CONSTANTS.CONTENT_FORM.PUBLISH_CONTENT_FORM }} </button>
   </div>
 </app-modal>