<form [formGroup]="publishTabForm">
    <div>
        <div class="tags-form-group">
            <label for="fillout-checkbox" class="mb-0">{{ ASSIGN_TAGS_MODAL.BASIC_PDF }}</label>
            <input id="fillout-checkbox" type="checkbox" formControlName="basicPdf" />
        </div>
        <div class="tags-form-group">
            <label for="fillout-checkbox" class="mb-0">{{ ASSIGN_TAGS_MODAL.FILLOUT }}</label>
            <input id="fillout-checkbox" type="checkbox" formControlName="fillableForm" />
        </div>
    </div>
    <div class="tags-form-group" *ngIf="showEffectiveDate || publishTabForm.getRawValue().fillableForm || publishTabForm.getRawValue().basicPdf">
        <label for="guided-form-checkbox" class="mb-0">{{ ASSIGN_TAGS_MODAL.EFFECTIVE_DATE }}</label>
        <div>
            <input class="btn btn-outline-primary" type="date" formControlName="effectiveDate" [min]="presentDate">
            <div class="error-message text-danger mt-2"
                *ngIf="publishTabForm.controls['effectiveDate'].invalid && publishTabForm.controls['effectiveDate'].errors.required">
                {{ ASSIGN_TAGS_MODAL.ERROR_MESSAGES.EFFECTIVE_DATE_REQUIRED }}
            </div>
        </div>
    </div>
    <div class="tags-form-group">
        <label for="comments-textarea" class="mb-0">{{ ASSIGN_TAGS_MODAL.COMMENTS }}</label>
        <textarea id="comments-textarea" formControlName="comments"></textarea>
    </div>
</form>