@import 
    "src/app/styles/settings/colors";

.tags-form-group {
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    margin-top: 1rem;

    label {
        align-self: start;
        margin-right: 1rem;
        text-align: right;
    }

    input[type=checkbox] {
        width: 17px;
        height: 17px;
    }

    textarea {
        border: 1px solid #ced4da;
        padding: 0.5rem;
    }
}

.error-message {
    font-size: 14px;
}

.error-input {
    border: 1px solid $danger;
}

.required {
    color: $danger;
}

::ng-deep .error-select .ng-select-container {
    border-radius: 3px;
    border: 1px solid $danger;
}

input[type=date] {
    width: 50%;
}