h1, .h1 {
  font-size: 1.6rem;
}

h2, .h2 {
  font-size: 1.28rem;
}

h3, .h3 {
  font-size: 1.122rem;
}

h4, .h4 {
  font-size: 1rem;
}

h5, .h5 {
  font-size: 0.9rem;
}

h6, .h6 {
  font-size: 0.85rem;
}