<!-- START : Builder Component -->
<div class="mt-5 mb-2">
  <ng-container *ngIf="builderOptions && form">
    <h2 class="my-5 text-center">{{ form.title }}</h2>
    <div class="pb-1">
      <form-builder 
        [form]="form" 
        (change)="onFormChange($event)"
        [options]="builderOptions"></form-builder>
    </div>
  </ng-container>
</div>
<!-- END : Builder Component -->
