<!-- Start : Modal Component -->
<ng-template #modal let-modal>
    <div class="modal-header" *ngIf="showModalHeader">
      <h4 [class]="'modal-title w-100 pl-3 '+ headerStyle">{{ modalTitle }}</h4>
      <button type="button" *ngIf="showCloseButton" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <ng-content></ng-content>
    </div>
    <div class="modal-footer" *ngIf="showModalFooter">
      <ng-content select="[footer]"></ng-content>
  </div>
</ng-template>
<!-- End : Modal Component -->
