<!-- Start : Login Form Component -->
<div class="login-form-container">
    <!-- <div class="form-wrapper"> -->
    <div class="form-wrapper">

        <form [formGroup]="loginForm" class="login-form m-y offset-md-2 col-md-8 my-4" (submit)="loginUser()" id="loginForm">

            <!-- Error Message -->
            <div *ngIf="submitted" role="alert" #errorMessageRef>
                <div *ngIf="(formControls.username.invalid || formControls.password.invalid) || showError"
                    class="invalid-credentials pb-3">{{ errorMessage }}
                </div>
            </div>

            <!-- FormControl : CORIS Username -->
            <div class="form-group">
                <label for="username" [ngClass]="{'label-animate': formControls.username.value }" #usernameLabel>{{LOGIN.USERNAME}}
                    <span aria-hidden="true"> *</span>
                </label>
                <input type="text" id="username" formControlName="username" class="form-control form-control-sm"
                    [ngClass]="{ 'is-invalid': (formControls.username.dirty && formControls.username.invalid) || (formControls.username.pristine && submitted)  }"
                    autocomplete="off" aria-label="Username" (focus)="onFocus(usernameLabel)" (blur)="onBlur('username',usernameLabel)" required #usernameInput />
                <div class="invalid-feedback text-left" role="alert"
                    [ngClass]="((formControls.username.dirty && formControls.username.invalid) || (formControls.username.pristine && submitted)) ? 'd-block' : 'd-none'">{{ LOGIN.USERNAME_REQUIRED }}
                </div>
            </div>

            <!-- FormControl : CORIS Password -->
            <div class="form-group">
                <label for="password" [ngClass]="{'label-animate': formControls.password.value }" #passwordLabel>{{LOGIN.PASSWORD}}
                    <span aria-hidden="true"> *</span>
                </label>
                <input type="password" id="password" formControlName="password" class="form-control form-control-sm"
                    [ngClass]="{ 'is-invalid': formControls.password.dirty && formControls.password.invalid || (formControls.password.pristine && submitted) }"
                    aria-label="password" (focus)="onFocus(passwordLabel)" (blur)="onBlur('password',passwordLabel)" required />
                <div class="invalid-feedback text-left" role="alert"
                    [ngClass]="((formControls.password.dirty && formControls.password.invalid) || (formControls.username.pristine && submitted)) ? 'd-block' : 'd-none'">{{ LOGIN.PASSWORD_REQUIRED }}
                </div>
            </div>

            <!-- Submit Button Wrapper -->
            <div class="button-wrapper">
                <button *ngIf="!showLoader" class="btn btn-primary btn-sm btn-block login-btn" type="submit">
                    {{ BUTTONS.LOGIN }}
                </button>

                <app-loader *ngIf="showLoader" [loaderType]="LOADER.TYPE.BORDER" [color]="LOADER.COLOR.PRIMARY">
                </app-loader>
            </div>
        </form>
    </div>
</div>
<!-- End : Login Form Component -->