/* Start : Login Form Component */
@import 
    "src/app/styles/variables", 
    "src/app/styles/tools",
    "src/app/styles/settings/colors";

.login-form-container{
    .form-group{
        position: relative;
        .form-control{
            height: rem(30px);
            font-size: rem(12px);
            background-color: transparent;
            color: $black;
            box-shadow: inset 0 rem(1px) rem(1px) rgba(0,0,0,.075);
            :focus{
                box-shadow: none;
            }
        }
        label{
            position: absolute;
            top: rem(6px);
            left: rem(6px);
            color: $label-color;
            padding: 0 rem(5px) 0 rem(5px);
            font-size: 0.75rem;
            background-color: $white;
            transition: 0.2s;
            font-weight: normal;
            pointer-events: none;
            z-index: 1;
        }
        .label-animate{
            top: rem(-9px) !important;
            left: rem(5px) !important;
            font-size: 0.75rem;
        }
        input:-webkit-autofill { 
            -webkit-background-clip: text;
        }
    }
    .button-wrapper{
        height: 2rem;
        .login-btn:hover{
            background: $hover-button-blue;
            border-color: $hover-button-border;
        }
    }
    .invalid-credentials{
        font-weight: 600;
        color: $danger;
        font-size: rem(14px);
        line-height: 1;
    }
}
/* End : Login Form Component */