<!-- START : AUDIT HISTORY TABLE -->
<section class="d-flex flex-column align-items-center w-100">
    <!-- START : LOADER -->
    <div class="d-flex justify-content-center align-items-center" *ngIf="!auditHistory && isLoading">
        <app-loader [width]="5" [height]="5" [loaderType]="LOADER.TYPE.BORDER" [color]="LOADER.COLOR.PRIMARY"></app-loader>
    </div>
    <!-- END : LOADER -->

    <ng-container *ngIf="auditHistory">
        <!-- START : AUDIT HISTORY DATATABLE -->
        <app-data-table class="w-100" [formsData]="auditHistory" [columnsType]="auditHistoryTable"></app-data-table>
        <!-- END : AUDIT HISTORY DATATABLE  -->

        <div class="buttons-wrapper mt-3">
            <button class="btn btn-outline-primary" (click)="onClose()">{{ AUDIT_HISTORY_MODAL.CLOSE_BTN }}</button>
        </div>
    </ng-container>

</section>
<!-- END : AUDIT HISTORY TABLE -->