<!-- START: Shared Form Modal -->
<app-modal #sharedFormModal> 
    <div class="shared-modal-content">
        <h2>{{ SHARED_FORMS_MODAL.MODAL_CONTENT_TEXT }}</h2>
        <div>{{ SHARED_FORMS_MODAL.MODAL_CONTENT_SUBTEXT }}</div>
    </div>
    <div class="w-100 my-3 d-flex justify-content-end">
        <button class="btn btn-outline" (click)="cancel()">{{ SHARED_FORMS_MODAL.CANCEL_BTN }}</button>
        <button class="btn btn-primary ml-3" (click)="closeModal()">{{ SHARED_FORMS_MODAL.GOT_IT_BTN }}</button>
    </div>
</app-modal>
<!-- END: Shared Form Modal -->