@import 
    "src/app/styles/tools", 
    "src/app/styles/settings/colors", 
    "src/app/styles/settings/breakpoints";

// ******** Start : Navbar Styles ******** 
.navbar{
    font-size: $nav-font-size;
    padding: 0 5rem;
    .navbar-brand{
        padding: $nav-item-padding;
        img{
            width: $logo-dimension;
            height: $logo-dimension;
        }
    }
    .navbar-toggler{
        width: rem(52px);
        border: rem(1px) solid $nav-active-item-bg;
        &:not(:focus-visible){
            outline: none;
        }
    }
    .navbar-nav {
        line-height: $nav-item-line-height;
    }
    .nav-item{
        padding: $nav-item-padding;
        .nav-link{
            color: $white;
            &.dropdown-toggle{
                border: 0;
                background-color: transparent;
                &:not(:focus-visible){
                    outline: none;
                }
            }
        }
        .dropdown-toggle::after{
            content: none;
        }
        .dropdown-menu{
            left: auto;
            right: rem(10px);
            margin-top: rem(6px);
            font-size: $nav-font-size;
            background-color: $white;
            border: rem(1px) solid $nav-dropdown-border;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            box-shadow: 0 rem(6px) rem(12px) $nav-dropdown-box-shadow;
            background-clip: padding-box;
            a{
                color: $nav-dropdown-color;
                line-height: 1.6;
                white-space: nowrap;
                &:hover{
                    color: $nav-dropdown-hover-color;
                    background-color: $nav-dropdown-hover-bg;
                }
            }
        }
        &.active{
            background-color: $nav-active-item-bg;
            color: $nav-active-item-color;
        }
    } 
    i{
        color: $white;
    }
}

// ******** End : Navbar Styles ******** 

// ******** Start : Media Queries ******** 
@include media-breakpoint-down(md) {
    .navbar{
        .navbar-collapse{
            .nav-item{
                padding: $nav-item-padding/2 $nav-item-padding;
                .dropdown-menu{
                    border: 0;
                    box-shadow: none;
                    background-color: $theme-blue-contrast;
                    a{
                        color: $white;
                        &:focus{
                            background-color: $theme-blue-contrast;
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .navbar{
        padding: 0 1rem;
    }
}
// ******** End : Media Queries ******** 