<!-- START : Navbar -->
<header class="navbar fixed-top navbar-expand-lg bg-primary-contrast" role="banner" #headerRef>
    <!-- START : Navbar Brand -->
    <a class="navbar-brand" [routerLink]="[ROUTES.FORMS_DASHBOARD]">
      <img [src]="ASSETS.UTAH_COURTS_LOGO" alt="State of Utah Judiciary Logo" />
    </a>
    <!-- END : Navbar Brand  -->
  
    <!-- START : Navbar Toggler -->
    <button class="navbar-toggler ml-1 py-2" type="button" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
    aria-controls="navigationToggle" aria-label="Toggle navigation"
    (click)="navbarToggler()">
        <i class="fal fa-bars" [class.d-none]="toggled"></i>
        <i class="fal fa-times" [class.d-none]="!toggled"></i>
    </button>
    <!-- END : Navbar Toggler -->
  
    <!-- START : Navbar Items -->
    <div class="collapse navbar-collapse order-3 order-lg-2" #collapse="ngbCollapse"  role="navigation" [(ngbCollapse)]="isCollapsed">
  
      <!-- START : Navbar Left Aligned Items -->  
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="[ROUTES.FORMS_DASHBOARD]" 
            routerLinkActive="router-link-active">{{ NAV_ITEMS.FORMS }}</a>
        </li>
      </ul>
      <!-- END : Navbar Left Aligned Items -->
  
      <!-- START : Navbar Right Aligned Items -->
      <ul class="navbar-nav ml-auto">
        <!-- Help Dropdown -->
        <li class="nav-item dropdown">
          <div ngbDropdown>
            <button class="nav-link dropdown-toggle d-flex align-items-center" id="help-dropdown" ngbDropdownToggle>
              {{ NAV_ITEMS.HELP.TEXT }} &nbsp; <i class="fas fa-caret-down" aria-hidden="true"></i>
            </button>
            <div class="dropdown-menu py-1"  ngbDropdownMenu aria-labelledby="help-dropdown">
              <a class="dropdown-item" [href]="HYPERLINKS.PRIVACY_POLICY" target="_blank" rel="noopener noreferrer">{{ NAV_ITEMS.HELP.PRIVACY_POLICY }}</a>
              <a class="dropdown-item" [href]="HYPERLINKS.CONTACT_US" target="_blank" rel="noopener noreferrer">{{ NAV_ITEMS.HELP.CONTACT_US }}</a>
            </div>
          </div>
        </li>
      </ul>
      <!-- END : Navbar Right Aligned Items -->
      <div class="desktop-view">
        <ng-container *ngTemplateOutlet="UserProfileTemplate"></ng-container>
      </div>
    </div>
    <!-- END : Navbar Items  -->
  
  </header>
  <!-- END : Navbar -->

  <ng-template #UserProfileTemplate>
    <!-- START : User Profile Dropdown -->
    <ul class="navbar-nav flex-row">
      <li class="nav-item dropdown d-flex user-dropdown">
        <div class="d-flex align-items-center" ngbDropdown>
          <button class="nav-link dropdown-toggle d-flex align-items-center" id="profile-dropdown" ngbDropdownToggle>
            <span class="username" data-toggle="tooltip">
              {{ NAV_ITEMS.USER_PROFILE.WELCOME_MESSAGE }}, 
              <span *ngIf="currentUser?.username">{{ currentUser?.username }}</span>
              <span *ngIf="!currentUser?.username">User</span>
            </span>
            <span class="pl-2"><i class="fas fa-caret-down" aria-hidden="true"></i></span>
          </button>
          <!-- User Profile Image -->
          <div class="profile-picture d-flex justify-content-center align-items-center">
            &nbsp; <i class="fa fa-user"></i>
          </div>
          <div ngbDropdownMenu class="dropdown-menu py-1" aria-labelledby="profile-dropdown">
            <a class="dropdown-item" href="javascript:void(0);"
              (click)="logoutUser()">{{ NAV_ITEMS.USER_PROFILE.LOGOUT }}</a>
          </div>
        </div>
      </li>
    </ul>
    <!-- END : User Profile Dropdown -->
  </ng-template>
  