<!-- START : Confirmation Modal -->
<app-modal #modal [modalSize]="modalSize" [modalTitle]="title" class="model-style" (modalClosed)="onCancelling()"> 
    <div class="confirmation-modal-wrapper m-4">
        <div class="d-flex flex-column align-items-center w-100" role="alert">{{message}}</div>
        <div class="confirmation-modal-buttons-wrapper mt-4 d-flex w-100 justify-content-center">    
            <button class="btn btn-outline-dark" (click)="onCancelling()">{{cancel ? cancel : BUTTONS.CANCEL}}</button>
            <button class="btn btn-primary" (click)="onContinuing()">{{continue ? continue : BUTTONS.CONTINUE}}</button>
        </div>
    </div>
</app-modal>
<!-- END : Confirmation Modal -->
