<ng-container>
    <app-formio-builder 
       class="py-3"
       [form]="builderForm"
       [builderOptions]="transformedBuilderOptions"></app-formio-builder>
 
    <!-- START : Form Builder Actions -->  
    <ng-container [ngTemplateOutlet]="builderActionsTemplate"></ng-container> 
    <!-- END : Form Builder Actions -->

    <!-- START : Form Rendener -->
    <div class="py-5 my-3 bg-light">
       <h2 class="my-3 text-center">{{ FORM_ENGINE.REVIEW_FORM }}</h2>

       <!-- START : Info Alert -->
       <ngb-alert 
          class="py-3"
          *ngIf="!formSrc" 
          [type]="ALERT_TYPES.INFO" 
          [dismissible]="false">{{ FORM_ENGINE.FORMIO_DRAG_DROP }}</ngb-alert>
       <!-- END : Info Alert -->

       <ng-container *ngIf="formSrc && formSrc.components">
          <div class="form-container">
             <div class="form-wizard-header" *ngIf="isFormIOWizard  && formSrc.display === GUIDED_INTERVIEW.WIZARD">
                <ng-container *ngIf="formSrc.components.length > 1 else singlePageWizard">
                   <div class="overlay d-block d-lg-none" appClickOutside (clickOutside)="isCollapsed = true">
                      <button class="unstyled-btn px-3 py-2 w-100 d-flex align-items-center justify-content-between" 
                         id="help-dropdown"  
                         (click)="collapse.toggle()" 
                         [attr.aria-expanded]="!isCollapsed"
                         aria-controls="formWizardHeaderCollapse">
                            <div class="font-weight-bold d-flex align-items-center"> 
                               <div class="page-number mr-2">{{ currentPage + 1 }} of {{ formSrc.components.length }}</div> 
                               <span class="font-size-xl">{{ formSrc.components[currentPage].title }}</span>
                            </div>
                            <i class="fas text-muted" [class] = "isCollapsed ? 'fa-chevron-down' : 'fa-chevron-up'"></i>                        </button>
                      <div id="formWizardHeaderCollapse" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                         <div class="card">
                            <div class="card-body">
                               <app-form-wizard-stepper 
                                        stepperType="vertical"
                                        [components]="formSrc.components"
                                        [currentPage]="currentPage"
                                        [formWizardPageErrors]="formWizardPageErrors"
                                        (pageClicked)="setPage($event)"
                                        [seenPages]="seenPages"
                                     >
                               </app-form-wizard-stepper>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="d-none d-lg-block" [ngClass]="{'wizard-form-page': formSrc.display === 'wizard'}">
                      <app-form-wizard-stepper 
                            stepperType="horizontal"
                            [components]="formSrc.components"
                            [currentPage]="currentPage"
                            [formWizardPageErrors]="formWizardPageErrors"
                            (pageClicked)="setPage($event)"
                            [seenPages]="seenPages"
                            >
                      </app-form-wizard-stepper>
                   </div>
                </ng-container>
                <ng-template #singlePageWizard>
                   <h2 class="text-center mb-0">{{ formSrc.components[currentPage]?.title }}</h2>
                </ng-template>
             </div>
             <div class="formio-container" [class.multiPageWizard]="formSrc.components.length > 1">
               <formio
                      #formEl
                      [options]="formIOOptions"
                      [form]="formSrc" 
                      (nextPage)="updateCurrentPage()"
                      (prevPage)="updateCurrentPage()"
                      (errorChange)="onFormErrorChange()"
                      (change)="onFormChange()">
                </formio>
                <div class="wizard-nav-btn-group">
                   <button class="btn btn-secondary" (click)="cancelWizard()">{{ wizardBtnGroup?.cancelBtn || FORM_ENGINE.BUTTON.CANCEL }}</button>
                   <button *ngIf="currentPage !== 0 && formEl.formio.components.length > 0 && isFormIOWizard" class="btn btn-primary" (click)="goToPreviousWizardPage()">{{ wizardBtnGroup?.prevBtn || FORM_ENGINE.BUTTON.PREV_BTN }}</button>
                   <button *ngIf="currentPage !== (formEl.formio.components.length - 1) && formEl.formio.components.length > 0 && isFormIOWizard" class="btn btn-primary" (click)="goToNextWizardPage()">{{ wizardBtnGroup?.nextBtn || FORM_ENGINE.BUTTON.NEXT_BTN }}</button>
                   <button *ngIf="(currentPage === (formEl.formio.components.length - 1)) || !isFormIOWizard" class="btn btn-primary" (click)="submitWizard()">{{ wizardBtnGroup?.submitBtn || FORM_ENGINE.BUTTON.SUBMIT_FORM }}</button>
                </div>
             </div>
          </div>
       </ng-container>
    </div>
    <!-- END : Form Rendener -->
 </ng-container>