@import 
    "src/app/styles/settings/colors",
    "src/app/styles/tools";

.form-container {
    position: relative;
    .overlay {
        position: fixed;
        top: 3rem;
        right: 0;
        left: 0;
        z-index: 999;
        border-bottom: 1px solid $gray-600;
        background: $white;
    }
    .page-number {
        border: 3px solid #3097D1;
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .wizard-nav-btn-group {
        display: flex;
        gap: 10px;
        justify-content: center;
    }
}
.button-group{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
} 
.formio-container {
    padding: 0 1rem;
}

::ng-deep .formio-form { 
    .pagination, ul.list-inline {
        display: none;
    }
    table {
        tr.row {
            display: table-row;
        }
        td {
            padding: 0.5rem;
            vertical-align: top;
        }
    }
    .formio-component {
        .table {
            width: 100%;
        }
    }
    .two-column-table-green-red {
        table {
            border-collapse: separate;
            border-spacing: 10px 5px;
        }
        tr:first-child {
            td {
                width: 50%;
            } 
            td:nth-child(1) {
                background-color: $greenHeader;
                color: $white;
                padding: 0.5rem;
            }
            td:nth-child(2) {
                background-color: $redHeader;
                color: $white;
                padding: 0.5rem;
            }
        }
    }
}

::ng-deep #group-container-formTemplateFields {
    max-height: 400px;
    overflow-y: scroll;
}

::ng-deep #group-container-formTemplateFields::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::ng-deep #group-container-formTemplateFields::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5); 
}

::ng-deep #group-container-formTemplateFields::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  