<!-- START : Forms Dashboard -->
<app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
<div class="dashboard-wrapper" role="main">
    <app-loader *ngIf="!formsData || isLoading" class="d-flex justify-content-center p-5 m-5" [width]="5" [height]="5"
        [loaderType]="LOADER.TYPE.BORDER" [color]="LOADER.COLOR.PRIMARY">
    </app-loader>

    <div *ngIf="!isLoading && formsData && dropDownFilterData"
        class="documents-table-wrapper container-fluid d-flex flex-column justify-content-center align-items-center"
        [attr.aria-label]="DASHBOARD.HEADER" aria-describedby="doc-header">

        <ngb-alert #staticAlert class="container w-100" *ngIf="newFormCreated" [type]="ALERT_TYPES.SUCCESS">
            <span *ngIf="newFormCreated?.formName"> {{ newFormCreated?.formName }} </span> Form has been created
            successfully
        </ngb-alert>

        <div id="doc-header" class="document-header my-3 p-2 font-weight-bolder">
            <h2 class="mx-auto text-center" role="heading" aria-level="1">{{ formsListTypeName }}
            </h2>
        </div>
        <div class="p-3 text-center" *ngIf="formsData && !formsData.length > 0;else formsTable">
            {{ FORM_EMPTY_DATA_MESSAGE }}
        </div>
        <ng-template #formsTable>
            <app-data-table [formsData]="formsData" [sortOrder]='sortOrder' [dropDownFilterData]="dropDownFilterData"
                [filterData]='filterData' [columnsType]='columnsType' (openModalEmitter)="openFormModal($event)"
                (redirectToNextStepEmitter)="redirectToNextStep($event)"
                (redirectToEditInterviewEmitter)="redirectToEditInterview($event)">
            </app-data-table>
        </ng-template>
    </div>
</div>
<!-- END : Forms Dashboard -->


<!-- Feature - Removing duplicate form as of now -->
<!-- START: Guided Interivew Audit History Modal -->
<!-- <app-modal #auditHistoryModal modalSize="xl"
    [modalTitle]="selectedForm ? selectedForm.formName + AUDIT_HISTORY_MODAL.TITLE : AUDIT_HISTORY_MODAL.TITLE"
    (modalClosed)="closeAuditHistoryModal()" class="model-style">
    <app-audit-history-table *ngIf="selectedForm && openedModal === FORM_MODAL_TYPES.AUDIT_HISTORY"
        [selectedFormNumber]="selectedForm.formNumber" (closeModal)="closeAuditHistoryModal()"></app-audit-history-table>
</app-modal> -->
<!-- END: Guided Interivew Audit History Modal -->


<!-- START: Assigned tags Modal -->
<div *ngIf="showAssignTagsModal">
    <app-assign-tags-modal [isTagsSaved]="isTagsSaved" [isTagsEdited]="isTagsEdited"
        (tagsEditSuccess)="closeGeneralTagsModal()" [formDetails]="formDetails" [currentTab]="assignTabCurrentTab"
        (assignModalClosed)="onCloseAssignTagsModal()"
        [isFormUploadRequired]="isFormUploadRequired"
        [modalHeader]="assignTagsModalHeader"
        [assignTagsType]="assignTagsType"
        [showPublishTab]="showPublishTab"
        (fetchFormDashboardDetails)="isFetchDashboardFormDetails = $event"
        [hasFormUpload]="hasFormUpload"
        ></app-assign-tags-modal>
</div>
<!-- END: Assigned tags Modal -->

<!-- Feature : Removing Duplicate Form Modal as of now -->
<!-- START: Add New Case Type Modal -->
<!-- <app-modal [showModalFooter]="true" #duplicateFormModal
    [modalTitle]="selectedForm ? selectedForm.formName + DUPLICATE_FORM_MODAL.TITLE : AUDIT_HISTORY_MODAL.TITLE"
    (modalClosed)="closeDuplicateFormModal()" class="model-style">
    <div *ngIf="selectedForm && openedModal === FORM_MODAL_TYPES.DUPLICATE_FORM"
        class="add-new-folder-modal-wrapper mx-4 my-3">
        <div class="row justify-content-center">
            <div class="col-sm-12 p-0">
                <app-floating-form-input [label]="DUPLICATE_FORM_MODAL.LABEL" type="text" id="duplicateFormName"
                    autocomplete="off" [formControl]="duplicateFormName">
                </app-floating-form-input>
                <div *ngIf="duplicateFormNameErrorMessage" class="text-danger mt-2">{{ duplicateFormNameErrorMessage }}
                </div>
            </div>
        </div>
    </div>
    <div footer class="add-new-folder-modal-buttons-wrapper d-flex justify-content-end">
        <button class="btn btn-outline-dark" (click)="closeDuplicateFormModal()"> {{ DUPLICATE_FORM_MODAL.CANCEL_BTN }}
        </button>
        <button class="btn btn-primary ml-3" [disabled]="!duplicateFormName.value" (click)="duplicateFormSubmit()"> {{
            DUPLICATE_FORM_MODAL.CREATE_BTN }} </button>
    </div>
</app-modal> -->
<!-- END: Add New Case Type Modal -->