@import "src/app/styles/variables",
        "src/app/styles/settings/colors";

.dashboard-wrapper{
    .documents-table-wrapper{
        padding-top: 2rem;
        padding-bottom: 4rem;
        .document-header{
            color: $page-title-color;
        }
        app-data-table{
            width: 95%;
        }
    }
}