<div>    
    <form [formGroup]="generalTabForm">
        <div class="tags-form-group">
            <label id="case-type-label">{{ ASSIGN_TAGS_MODAL.CASE_TYPES }} <span class="required">*</span></label>
            <div [ngClass]="{'error-select': isSubmitted && generalTabForm.controls['selectedCaseTypes'].invalid}">
                <ng-select
                    #select
                    (close)="select.blur()"
                    placeholder="Start Typing Here"
                    aria-labelledby="case-type-label"
                    [items]="generalTagsFormData.caseTypes"
                    [multiple]="true"
                    bindLabel="description"
                    [closeOnSelect]="false"
                    bindValue="caseTypeId"
                    formControlName="selectedCaseTypes">
                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                        <input id="item-{{index}}" type="checkbox" [ngModelOptions]="{standalone: true}" [ngModel]="item$.selected"/> {{item.description}}
                    </ng-template>
                </ng-select>
                <div class="error-message text-danger"
                    *ngIf="generalTabForm.controls['selectedCaseTypes'].invalid && generalTabForm.controls['selectedCaseTypes'].errors.required && isSubmitted" 
                    role="alert">
                    {{ ASSIGN_TAGS_MODAL.ERROR_MESSAGES.CASE_TYPE_REQUIRED }}
                </div>
            </div>
        </div>
        <div class="tags-form-group">
            <label id="role-label">{{ ASSIGN_TAGS_MODAL.ROLES }} <span class="required">*</span></label>
            <div [ngClass]="{'error-select': isSubmitted && generalTabForm.controls['selectedRoles'].invalid}">
                <ng-select
                    placeholder="Start Typing Here"
                    aria-labelledby="role-label"
                    [items]="generalTagsFormData.roles"
                    [multiple]="true"
                    bindLabel="partyType"
                    [closeOnSelect]="false"
                    bindValue="partyTypeId"
                    formControlName="selectedRoles">
                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                        <input id="item-{{index}}" type="checkbox" [ngModelOptions]="{standalone: true}" [ngModel]="item$.selected"/> {{item.partyType}}
                    </ng-template>
                </ng-select>
                <div class="error-message text-danger"
                    *ngIf="generalTabForm.controls['selectedRoles'].invalid && generalTabForm.controls['selectedRoles'].errors.required && isSubmitted" 
                    role="alert">
                    {{ ASSIGN_TAGS_MODAL.ERROR_MESSAGES.ROLE_REQUIRED }}
                </div>
            </div>
        </div>
        <div class="tags-form-group">
            <label id="sub-step-label">{{ ASSIGN_TAGS_MODAL.STEPS }}</label>
            <div [ngClass]="{'error-select': isSubmitted && generalTabForm.controls['selectedSteps'].invalid}">
                <ng-select
                    placeholder="Start Typing Here"
                    aria-labelledby="sub-step-label"
                    [items]="generalTagsFormData.steps"
                    [multiple]="true"
                    bindLabel="step"
                    [closeOnSelect]="false"
                    bindValue="formStepId"
                    formControlName="selectedSteps">
                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                        <input id="item-{{index}}" type="checkbox" [ngModelOptions]="{standalone: true}" [ngModel]="item$.selected"/> {{item.step}}
                    </ng-template>
                </ng-select>
            </div>
        </div>
        <div class="tags-form-group">
            <label id="rules-label">{{ ASSIGN_TAGS_MODAL.RULES }}</label>
            <ng-select
                placeholder="Start Typing Here"
                aria-labelledby="rules-label"
                [items]="generalTagsFormData.rules"
                [multiple]="true"
                bindLabel="type"
                [closeOnSelect]="false"
                bindValue="formRuleId"
                formControlName="selectedRules">
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{index}}" type="checkbox" [ngModelOptions]="{standalone: true}" [ngModel]="item$.selected"/> {{item.type}}
                </ng-template>
            </ng-select>
        </div>
        <div class="tags-form-group">
            <label id="rules-label">{{ ASSIGN_TAGS_MODAL.STATUTES }}</label>
            <ng-select
                placeholder="Start Typing Here"
                aria-labelledby="rules-label"
                [items]="generalTagsFormData.statutes"
                [multiple]="true"
                bindLabel="title"
                [closeOnSelect]="false"
                bindValue="formStatutueId"
                formControlName="selectedStatutes">
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{index}}" type="checkbox" [ngModelOptions]="{standalone: true}" [ngModel]="item$.selected"/> {{item.title}}
                </ng-template>
            </ng-select>
        </div>
    </form>
</div>