<!-- START: Assign Tags Modal -->
<app-modal #tagsModal [showModalFooter]="true" [modalTitle]="modalHeader" modalSize="lg" [showCloseButton]="false"
  [modalOptions]="assignTagsModalOptions">
  <div class="assign-tags-modal-wrapper m-4">
    <h3 class="text-center mb-3" *ngIf="formDetailsResponse || formDetails">{{CONTENT_GENERATION_MODAL.FORM_HEADER}} :
      {{ formDetailsResponse?.formName || formDetails?.formName }} </h3>
    <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" [destroyOnHide]="false" class="nav-tabs"
      (activeIdChange)="onActiveIdChange($event)">
      <li [ngbNavItem]="ASSIGN_TAGS_MODAL.TABS.UPLOAD.NAV_ID" [disabled]="true">
        <a ngbNavLink>{{ ASSIGN_TAGS_MODAL.TABS.UPLOAD.TEXT }}</a>
        <ng-template ngbNavContent>
          <div class="inplace-loader" *ngIf="isTagsEdited && !allTagsFormData">
            <app-loader [width]="3" [height]="3" [loaderType]="LOADER.TYPE.BORDER" [color]="LOADER.COLOR.PRIMARY">
            </app-loader>
          </div>
          <app-upload-form *ngIf="!isTagsEdited || ((formDetailsResponse || formDetails) && allTagsFormData)"
            [isTagsEdited]="isTagsEdited" [isFormUploadRequired]="isFormUploadRequired"
            [existingFormData]="allTagsFormData?.assignedTags?.form"
            (uploadFormGroupChange)="onAssignTagsFormChange($event, ASSIGN_TAGS_MODAL.TABS.UPLOAD.TEXT)"
            [uploadFormErrors]="uploadFormErrors" [isSubmitted]="isSubmitted"
            [hasFormUpload]="hasFormUpload"
            ></app-upload-form>
        </ng-template>
      </li>
      <li [ngbNavItem]="ASSIGN_TAGS_MODAL.TABS.GENERAL.NAV_ID" [disabled]="true">
        <a ngbNavLink>{{ ASSIGN_TAGS_MODAL.TABS.GENERAL.TEXT }}</a>
        <ng-template ngbNavContent>
          <div class="inplace-loader" *ngIf="!allTagsFormData">
            <app-loader [width]="3" [height]="3" [loaderType]="LOADER.TYPE.BORDER" [color]="LOADER.COLOR.PRIMARY">
            </app-loader>
          </div>
          <app-general-form *ngIf="(formDetailsResponse || formDetails) && allTagsFormData"
            [isTagsSaved]="isTagsSaved || isTagsEdited"
            [formId]="(formDetails && formDetails.formId) || (formDetailsResponse && formDetailsResponse.formId)"
            [generalTagsFormData]="allTagsFormData" [selectedGeneralTags]="allTagsFormData.assignedTags.generalTags"
            (onGeneralFormGroupChange)="onAssignTagsFormChange($event, ASSIGN_TAGS_MODAL.TABS.GENERAL.TEXT)"
            [isSubmitted]="isSubmitted"></app-general-form>
        </ng-template>
      </li>
      <li [ngbNavItem]="ASSIGN_TAGS_MODAL.TABS.AEM.NAV_ID" [disabled]="true">
        <a ngbNavLink> {{ ASSIGN_TAGS_MODAL.TABS.AEM.TEXT }} </a>
        <ng-template ngbNavContent>
          <app-aem-form *ngIf="allTagsFormData"
            (onAemFormGroupChange)="onAssignTagsFormChange($event, ASSIGN_TAGS_MODAL.TABS.AEM.TEXT)"
            [isTagsSaved]="isTagsSaved || isTagsEdited" [isSubmitted]="isSubmitted"
            [selectedAEMTags]="allTagsFormData.assignedTags.aemTags"></app-aem-form>
        </ng-template>
      </li>
      <li [ngbNavItem]="ASSIGN_TAGS_MODAL.TABS.PUBLISH.NAV_ID" [disabled]="true" *ngIf="showPublishTab">
        <a ngbNavLink> {{ ASSIGN_TAGS_MODAL.TABS.PUBLISH.TEXT }} </a>
        <ng-template ngbNavContent>
          <app-publish-form *ngIf="allTagsFormData"
            (onPublishFormGroupChange)="onAssignTagsFormChange($event, ASSIGN_TAGS_MODAL.TABS.PUBLISH.TEXT)"
            [isTagsSaved]="isTagsSaved || isTagsEdited" [isTagEdited]="isTagEdited" [isSubmitted]="isSubmitted"
            [selectedPublishFormTags]="allTagsFormData.assignedTags.publishTags" [basicPDFDisabled]="basicPDFDisabled"
            [fillOutDisabled]="fillOutDisabled"></app-publish-form>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>

  <div footer class="w-100 d-flex justify-content-end">
    <!-- Cancel button -->
    <button class="btn btn-outline" (click)="cancel()">{{ ASSIGN_TAGS_MODAL.CANCEL }}</button>
    <!-- Save as Draft button -->
    <button class="btn btn-primary ml-3" *ngIf="!isUploadForm && !isTagsEdited"
      (click)="saveAsDraft(ASSIGN_TAGS_MODAL.SAVE)">{{ ASSIGN_TAGS_MODAL.SAVE }}</button>
    <!-- Previous button -->
    <button class="btn btn-primary ml-3"
      *ngIf="!isUploadForm && (currentTab > ASSIGN_TAGS_MODAL.TABS.GENERAL.NAV_ID)"
      (click)="moveToPrevTab()">{{ ASSIGN_TAGS_MODAL.PREV_BTN }}</button>
    <!-- Next button -->
    <button class="btn btn-primary ml-3"
      *ngIf="(!isUploadForm || isTagsEdited) && !(assignTagsTabLength === currentTab)" (click)="onClickNext()">
      {{ isUploadForm && isUploadFormUpdatedAfterFetch ? ASSIGN_TAGS_MODAL.UPDATE_AND_NEXT : ASSIGN_TAGS_MODAL.NEXT_BTN }}
    </button>
    <!-- Upload New Form Button -->
    <button class="btn btn-primary ml-3" [disabled]="!isUploadFormValid" *ngIf="isUploadForm && !isTagsEdited"
      (click)="uploadNewForm()">{{ assignTagsType === ASSIGN_TAGS_MODAL.ASSIGN_TAGS_TYPE.UPLOAD_FORM ?
      UPLOAD_NEW_FORM_MODAL.SUBMIT_BTN : UPLOAD_NEW_FORM_MODAL.SAVE_AND_CONTINUE_BTN}}</button>
    <!-- Upload Form Publish -->
    <button class="btn btn-primary ml-3" *ngIf="currentTab === ASSIGN_TAGS_MODAL.TABS.PUBLISH.NAV_ID && showPublishBtn && !isTagsEdited"
      [disabled]="!isPublishFormValid" (click)="storeFormTagsInformation(ASSIGN_TAGS_MODAL.PUBLISH_BTN)">{{
      ASSIGN_TAGS_MODAL.PUBLISH_BTN }}</button>
    <!-- Edit Form Publish -->  
    <button class="btn btn-primary ml-3" *ngIf="isTagsEdited && currentTab === ASSIGN_TAGS_MODAL.TABS.PUBLISH.NAV_ID"
      [disabled]="!isTagsUpdatedAfterFetch" (click)="editFormTagsInformation()">{{
      ASSIGN_TAGS_MODAL.UPDATE_AND_PUBLISH
      }}</button>
    <!-- Create Content Form -->
    <button class="btn btn-primary ml-3" *ngIf="!isTagsEdited && assignTagsType === ASSIGN_TAGS_MODAL.ASSIGN_TAGS_TYPE.CONTENT_FORM && currentTab === ASSIGN_TAGS_MODAL.TABS.AEM.NAV_ID"
      (click)="createContentForm()">{{
      ASSIGN_TAGS_MODAL.TAGS_CREATE_CONTENT_FORM
      }}</button>
    <!-- Edit Content Form -->
    <button class="btn btn-primary ml-3" *ngIf="isTagsEdited && assignTagsType === ASSIGN_TAGS_MODAL.ASSIGN_TAGS_TYPE.CONTENT_FORM && currentTab === ASSIGN_TAGS_MODAL.TABS.AEM.NAV_ID"
      [disabled]="!isTagsUpdatedAfterFetch" (click)="editContentFormTags()">{{
      ASSIGN_TAGS_MODAL.TAGS_EDIT_UPDATE_AND_PUBLISH
      }}</button>
  </div>
</app-modal>
<!-- END: Assign Tags Modal -->