<!-- START: Create Template Modal -->
<app-modal 
    #createTemplateModal 
    [modalTitle]="CREATE_TEMPLATE_MODAL.MODAL_CONTENT_TEXT"
    [showModalFooter]="true"
    [modalOptions]="createTemplateModalOptions"
    [showCloseButton]="showCancel"
    > 
    <div class="create-template-content my-3">
        <app-floating-form-input 
            [label]="CREATE_TEMPLATE_MODAL.MODAL_CONTENT_PLACEHOLDER" 
            type="text" 
            id="templateName"
            autocomplete="off"
            [formControl]="templateName"
        >
        </app-floating-form-input>
        <div class="error-message text-danger mt-2" 
            *ngIf="showTitleError">
            {{ CREATE_TEMPLATE_MODAL.TITLE_EXIST_ERROR }}
        </div>
    </div>
    <div footer class="w-100 d-flex justify-content-end">
        <button class="btn btn-outline" (click)="closeTemplateModal()" *ngIf="showCancel">{{ CREATE_TEMPLATE_MODAL.CANCEL_BTN }}</button>
        <button class="btn btn-primary ml-3" [disabled]="!templateName.value?.trim()" (click)="createTemplate()">{{ CREATE_TEMPLATE_MODAL.CREATE_BTN }}</button>
    </div>
</app-modal>
<!-- END: Create Template Modal -->