<!-- Start : Data Table Component -->
<div class="table-wrapper p-4">
    <ngx-datatable class="ngx-datatable bootstrap" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'"
        [rows]='rows' [columns]='columns' [count]="totalCount" [limit]="dataParams.pageSize" [selected]="selected"
        [headerHeight]="80" [scrollbarH]="true" [selectionType]="SelectionType.checkbox" [selectAllRowsOnPage]="false"
        (select)="onSelect($event)" [sorts]="defaultSortOrder" (page)="setPage($event)"
        [messages]="{ emptyMessage: TABLE.EMPTY_MESSAGE }">

        <ng-template #clearHeaderTemplate let-row="row" let-value="value" let-i="index" let-column="column"
            class="d-flex align-items-center">
            <button class="pt-4 mt-3 d-block clear-icon unstyled-btn" (click)="clearFilter()"
                aria-label="clear filter and selection">
                <i class="fas fa-times"></i>
            </button>
        </ng-template>

        <ng-template #statusTemplate let-row="row" let-value="value" let-i="index" let-column="column"
            class="d-flex align-items-center">
            <i class="fas mr-1" [class]="['fa-'+ STATUS_ICONS[value].icon, 'text-'+ STATUS_ICONS[value].color]"></i>{{
            value }}
        </ng-template>

        <ng-template #checkboxTemplate let-row="row" let-value="value" let-i="index" let-column="column"
            cellClass="d-flex align-items-center pl-4" role="button">
        </ng-template>

        <ng-template #headerTemplate let-row="row" let-value="value" let-i="index" let-column="column"
            class="d-flex align-items-center">
            <span>{{column.name}}</span>
            <input type="text" class="managetextfilter" [placeholder]="column.placeholder"
                [attr.aria-label]="column.name" #filter (keyup)="updateFilter($event,column.prop)" />
        </ng-template>

        <ng-template #headerDropdownTemplate let-row="row" let-value="value" let-i="index" let-column="column"
            class="d-flex align-items-center">
            <span [id]="column.prop">{{column.name}}</span>
            <div class="select-wrapper">
                <select [attr.aria-labelledby]="column.prop" class="managetextfilter"
                    (change)="updateFilter($event,column.prop)" [name]="column.prop" #filter>
                    <option value="" selected>{{ column.placeholder}}</option>
                    <option *ngFor="let item of column.dropdown" [ngValue]="item">{{item}}</option>
                </select>
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>
        </ng-template>

        <ng-template #statusTemplateWithTypeTemplate let-row="row" let-value="value" let-i="index" let-column="column"
            class="d-flex align-items-center">
            <div class="publish-type">
                <fa-icon *ngIf="row.statusOfTypes && row.statusOfTypes.basicPdf" [class]="getIconClassBasedOnStatus(row.statusOfTypes.basicPdf)"
                    [icon]="getStatusIcon(PUBLISH_STATUS_TYPES.BASIC_PDF,row.statusOfTypes.basicPdf)" 
                    [title]="PUBLISH_STATUS_TYPES.BASIC_PDF +' '+ row.statusOfTypes.basicPdf"></fa-icon>
                <fa-icon *ngIf="row.statusOfTypes && row.statusOfTypes.fillableForm" [class]="getIconClassBasedOnStatus(row.statusOfTypes.fillableForm)"
                    [icon]="getStatusIcon(PUBLISH_STATUS_TYPES.FILLABLE_FORM,row.statusOfTypes.fillableForm)" 
                    [title]="PUBLISH_STATUS_TYPES.FILLABLE_FORM  +' '+ row.statusOfTypes.fillableForm"></fa-icon>
                
                <button class="unstyled-btn" *ngIf="row.statusOfTypes && row.statusOfTypes.contentForm">
                    <fa-icon [class]="getIconClassBasedOnStatus(row.statusOfTypes.contentForm)"
                        [icon]="getStatusIcon(PUBLISH_STATUS_TYPES.CONTENT_FORM,row.statusOfTypes.contentForm)" 
                        [title]="PUBLISH_STATUS_TYPES.CONTENT_FORM +' '+row.statusOfTypes.contentForm">
                    </fa-icon>
                </button>
                <button class="unstyled-btn" *ngIf="row.statusOfTypes && row.statusOfTypes.guidedInterview">
                    <fa-icon [class]="getIconClassBasedOnStatus(row.statusOfTypes.guidedInterview)"
                        [icon]="getStatusIcon(PUBLISH_STATUS_TYPES.GUIDED_INTERVIEW,row.statusOfTypes.guidedInterview)" 
                        [title]="PUBLISH_STATUS_TYPES.GUIDED_INTERVIEW+' '+row.statusOfTypes.guidedInterview">
                    </fa-icon>
                </button>
            </div>
        </ng-template>

        <ng-template #statusTemplateWithTypeDropdownTemplate let-row="row" let-value="value" let-i="index"
            let-column="column" class="d-flex align-items-center">
            <span [id]="column.prop">{{column.name}}</span>
            <div class="select-wrapper">
                <select [attr.aria-labelledby]="column.prop" class="managetextfilter"
                    (change)="updateFilter($event,column.prop)" [name]="column.prop" #filter>
                    <option value="" selected>{{ column.placeholder}}</option>
                    <option *ngFor="let item of FORMS_STATUS_WITH_TYPE_KEYS" [ngValue]="item">{{item}}</option>
                </select>
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>
        </ng-template>

        <ng-template #clickableBodyTemplate let-row="row" let-value="value" let-i="index" let-column="column">
            <div>
                <div *ngIf="row.caseTypes && row.caseTypes.length > 1" class="d-inline bg-success p-1 mr-1 text-white">
                    {{ SHARED_FORM }}</div>
                <a href="javascript:void(0);" class="link ml-2" (click)="redirectToNextStep(row)">
                    {{value}}
                </a>
                <div *ngIf="row.status === FORM_STATUS.New" class="form-status text-white px-2 d-inline">{{
                    FORM_ENGINE_STATUS.NEW.text}}</div>
            </div>
        </ng-template>

        <ng-template #formTextBodyTemplate let-row="row" let-value="value" let-i="index" let-column="column">
            <div>
                <div *ngIf="row.caseTypes && row.caseTypes.length > 1" class="d-inline bg-success p-1 mr-1 text-white">
                    {{ SHARED_FORM }}</div>
                {{value}}
                <div *ngIf="row.status === FORM_STATUS.New" class="form-status text-white px-2 d-inline">{{
                    FORM_ENGINE_STATUS.NEW.text}}</div>
            </div>
        </ng-template>

        <ng-template #tagTemplate let-row="row" let-value="value" let-i="index" let-column="column">
            <div *ngIf="value.length !== 0">
                <div class="tag-item" *ngFor="let role of value">{{ role }}</div>
            </div>
        </ng-template>

        <ng-template #dateTemplate let-row="row" let-value="value" let-i="index" let-column="column">
            <span>{{column.name}}</span>
            <input type="date" [class]="'datefilter '+ column.prop" aria-label="column.name"
                (change)="updateFilter($event,column.prop)" #filter />
            <button class="unstyled-btn clear-date-button" (click)="clearDateFilter(column.prop)"
                [attr.aria-label]="'Clear File Date'">
                <i class="fas fa-times" title="Clear File Date"></i>
            </button>
        </ng-template>
        <ng-template #dateBodyTemplate let-row="row" let-value="value" let-i="index" let-column="column">
            <div>{{value | date: 'MM/dd/yyyy' }}</div>
            <div *ngIf="(value ==='')">NA</div>
        </ng-template>
        <ng-template #tableOptionsTemplate let-row="row" let-value="value" let-i="index" let-column="column">
            <div ngbDropdown class="d-inline-block" container="body">
                <button class="unstyled-btn p-2" [attr.id]="'dropdown'+value.formId" ngbDropdownToggle
                    [attr.aria-label]="'Click to view table options for' +value.formId">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                <div ngbDropdownMenu [attr.aria-labelledby]="'dropdown'+value.formId">
                    <button ngbDropdownItem
                        (click)="openModal(MODAL_TYPES.EDIT_TAGS, value)" 
                        *ngIf="(row.statusOfTypes.contentForm === FORM_STATUS.Published) || (row.statusOfTypes.basicPdf === FORM_STATUS.Published) || (row.statusOfTypes.fillableForm === FORM_STATUS.Published)"
                        >{{(row.statusOfTypes.contentForm === FORM_STATUS.Published) ? MODAL_TYPES.EDIT_FORM_DETAILS : MODAL_TYPES.EDIT_TAGS}}</button>
                    <button *ngIf="row.statusOfTypes.contentForm === FORM_STATUS.Published" ngbDropdownItem (click)="openModal(MODAL_TYPES.EDIT_CONTENT_FORM, value)">{{
                        MODAL_TYPES.EDIT_CONTENT_FORM}}</button>
                    <!-- Feature - Removing View History As of now -->
                    <!-- <button ngbDropdownItem (click)="openModal(MODAL_TYPES.AUDIT_HISTORY, value)">{{
                    MODAL_TYPES.VIEW_HISTORY}}</button> -->
                    <!-- Feature - Removing Duplicate Form As of now -->
                    <!-- <button ngbDropdownItem (click)="openModal(MODAL_TYPES.DUPLICATE_FORM, value)">{{
                        MODAL_TYPES.DUPLICATE_FORM}}</button> -->
                </div>
            </div>
        </ng-template>

        <ngx-datatable-footer>
            <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                <!-- Start : Page limit container - no.of rows per page -->
                <div class="page-limit-container" *ngIf="rowCount>TABLE.MIN_ROWS">
                    <div>
                        <select aria-label="page-limit" (change)="onLimitChange($event.target.value)"
                            class="page-limit">
                            <option *ngFor="let option of pageLimitOptions" [value]="option.value"
                                [selected]="option.value == dataParams.pageSize">
                                {{option.value}} per page
                            </option>
                        </select>
                    </div>
                </div>
                <!-- End : Page limit container -->
                <div class="page-count">
                    <span *ngIf="selectedCount">
                        {{selectedCount.toLocaleString()}} {{ TABLE.SELECTED_MESSAGE }} /&nbsp;
                    </span>
                    {{rowCount.toLocaleString()}} {{ TABLE.TOTAL_MESSAGE }}
                </div>
                <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                    [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                    [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount"
                    [limit]="limit" [hidden]="!((rowCount / pageSize) > 1)" (change)="table.onFooterPage($event)">
                </datatable-pager>
            </ng-template>
        </ngx-datatable-footer>
    </ngx-datatable>
</div>
<!-- End : Data Table Component-->