@import "src/app/styles/settings/colors";
    
/* Overriding _ngx-datatable scss */


::ng-deep ngx-datatable.ngx-datatable .datatable-body .datatable-body-cell-label {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: auto;
}

:host ::ng-deep ngx-datatable.ngx-datatable {
    .datatable-header-cell input, .datatable-header-cell select {
        color: $dark;
    }
    .datatable-footer {
        background-color: $off-white;
        .datatable-pager {
            flex: none;
            .pager {
                display: flex !important;
                align-items: center;
                justify-content: flex-end;
                li[role=button] {
                    padding: 0px 10px;
                }
                li a,
                li a i {
                    display: flex !important;
                }
                li:focus,
                li a:focus {
                    outline: 1px auto -webkit-focus-ring-color !important;
                }
            }
        }
        .page-count {
            text-align: center;
            flex: none;
        }
        .datatable-footer-inner {
            justify-content: space-between;
        }
        .page-limit-container {
            flex: none;
            div {
                padding-right: 5px;
                border: 1px solid $theme-blue;
                display: inline-block;
            }
            select.page-limit {
                border: none;
                padding: 5px;
                background-color: transparent;
                color: $theme-blue;
                font-size: rem(14px);
            }
        }
    }
}

::ng-deep .dropdown-toggle::after, ::ng-deep .dropup .dropdown-toggle::after {
    display: none;
}

.table-wrapper{
    background: $off-white;
    .ellipsis-icon,.clear-icon{
        color: $gray-800;
    }
}
.unstyled-btn{
    border: none;
    background: none;
    color:inherit;
    cursor: pointer;
    &:disabled{
        cursor: default;
    }
}

.clear-date-button{
    position: absolute;
    width: rem(30px);
    height: rem(25px);
    right: 1.2rem;
    top: 54%;
    fa-icon{
        top: 0;
        right: 0.6rem; 
    }
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    right: 0;
    left: rem(-20px);
    bottom: 0;
    color: transparent;
    background: transparent;
    cursor: pointer;
}

.tag-item {
    background: $gray-400;
    padding: 0.3rem 1rem;
    border-radius: 25px;
    line-height: 1;
    margin-bottom: 0.25rem;
    margin-right: 0.25rem;
}

.form-status {
    background-color: $theme-info;
}

.publish-type fa-icon {
    font-size: 23px;
    margin-left: 8px;
}

.select-wrapper .fa-caret-down {
    pointer-events: none;
}

.icon-inProgress {
    color: $warning;
}

.icon-pending{
    color: $dark-blue;
}

.icon-published{
    color: $primary;
}