@import 
    "src/app/styles/settings/colors";
.create-gi-form .form-group{
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    margin-top: 1rem;
    label {
        align-self: start;
        margin-right: 1rem;
        text-align: right;
    }
}

.error-message {
    font-size: 14px;
}

.error-input {
    border: 1px solid $danger;
}

.required {
    color: $danger;
}