<app-modal #createGiFormModal [showModalFooter]="true" 
    [modalTitle]="GUIDED_INTERVIEW_CREATE_MODAL.TITLE" modalSize="lg" (modalClosed)="closeModal()" class="model-style">
    <form [formGroup]="createGiForm" class="create-gi-form">
        <div class="form-group">
            <label for="createGiTitle" class="mb-0">{{ GUIDED_INTERVIEW_CREATE_MODAL.INTERVIEW_TITLE }}
                <span class="required">*</span>
            </label>
            <div class="w-75">
                <input id="createGiTitle" class="form-control input-sm" type="text" formControlName="formName">
                <div class="error-message text-danger mt-2" 
                    *ngIf="showTitleError">
                    {{ GUIDED_INTERVIEW_CREATE_MODAL.TITLE_EXIST_ERROR }}
                </div>
                <div class="error-message text-danger mt-2" 
                    *ngIf="createGiForm.controls['formName'].invalid && createGiForm.controls['formName'].errors.required
                    && (createGiForm.controls['formName'].touched || isSubmitted)">
                    {{ GUIDED_INTERVIEW_CREATE_MODAL.TITLE_REQUIRED }}
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="createGiDesc" class="mb-0">{{ GUIDED_INTERVIEW_CREATE_MODAL.DESC }}</label>
            <div class="w-75">
                <textarea id="createGiDesc" class="form-control input-sm" type="text" formControlName="formDescription"></textarea>
            </div>
        </div>
    </form>

    <div footer class="d-flex justify-content-end">  
        <button class="btn btn-outline-dark" (click)="closeModal()">{{ GUIDED_INTERVIEW_CREATE_MODAL.CANCEL_BTN }}</button>
        <button class="btn btn-primary ml-3" [disabled]="!createGiForm.controls['formName']?.value?.trim()" (click)="openCreateGuidedInterview()">{{ GUIDED_INTERVIEW_CREATE_MODAL.CONTINUE_BTN }}</button>
    </div>
</app-modal>